[2016-10-25 07:54] #269 closed

[2016-10-25 20:25] sergy79 opened #270 "Not able to use in my project too much dependencys"
Implementing the modules zero features should be easier, in documentation it shows much code dependency on filters and services.

Please separate and make easy

Please update documentation on what I need to remove for simpler project ASP MPA

[2016-11-09 14:21] diegosword opened #272 "Set language per user or per domain"
Hi, i have 2 questions.
1. I want to know if it is possible to set the language per user instead of per tenant.  So when the user logs in the application loads in the language defined for the user.
2. Is it possible to set the language depending of the domain ending like www.test.com.us for english and www.test.com.es for spanish?
I any ideas how to do this? thanks

[2016-11-10 11:27] PmzDev opened #273 "UserManager.UpdateAsync doesn't properly check former UserName."
Hi,
I've an issue while trying to change admin UserName:  I can't get the CanNotRenameAdminUser error.

Here is my AppService code:
[code]
After debugging the code of the AbpUserManager, it appears that there is a problem on this line:
[code]
In my case, the oldUserName is set to the new value. How could I have this working please ?

[2016-11-10 15:55] gabrielrobert commented on #263
Is there any way I can get around this problem before it's fixed? I'm ready to go in production with my application, but still missing registration part.

[2016-11-10 18:29] hikalkan commented on #272
Hi,

1. Language can be set/get for a user using setting manager. ABP reads the language from cookie (https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.Web/Web/AbpWebApplication.cs#L72). Default cookie name is "Abp.Localization.CultureName". It's value can be "en", "en-US" and so on.
So, if you set this cookie when user logged in, then ABP will get the true language from cook

[2016-11-12 02:55] ChiakiYu opened #274 "The database has been updated,but LockoutEndDate is not right"
I want to get `LockoutEndDate` when user‘s `AccessFailedCount` is 5(default), .
The database has been updated
But the `LockoutEndDate` that  got out of  db  is not right。
call `await CurrentUnitOfWork.SaveChangesAsync();` is invalid.

[code]

the `LockoutEndDate` is the last time  when the database is not updated

[2016-11-12 03:09] ChiakiYu commented on #274
when i write this method  ,all of this  is ok.
[code]

[2016-11-12 18:07] Poepon opened #275 "social login bug"
After the login success, back to the login page, the use of social login, will be an exception.
Page display:
[Un authorized operation]

[You are not authorized to perform this operation]

I think we should be able to directly use the social login.

[2016-11-12 18:12] Poepon commented on #275
What can be done to achieve this effect?

[2016-11-13 11:11] hikalkan commented on #273
Hi,

It probably because of EF. It caches Entity in the memory and does not re-get from database. Thus, ``(await GetUserByIdAsync(user.Id)).UserName`` gets the changed username.

I'll try to solve this problem. For now, check it yourself before ``input.MapTo(user);`` line.

[2016-11-13 11:41] hikalkan commented on #263
You are using it with AspNet Core. We haven't tried it with AspNet Core before. AspNet Core'a OWIN integration is simple, thus there may be some missing parts.

When I check ASP.NET Identity's source code (with decompiling), I see this:

[code]

So, it gets an object with key "security.DataProtectionProvider" from app.Properties. Probably AspNet Core does not implement this.

I think we have 2 opt

[2016-11-13 17:46] hikalkan commented on #274
Hi,

Short answer: You can just get it from loginResult.User.LockoutEndDateUtc?

Long one: _userManager.GetLockoutEndDate is not working because your are not in the correct tenant in UOW. You can try this:

[code]

[2016-11-13 18:46] hikalkan commented on #275
Can you share stacktrace, full exception message and which template you are using?

[2016-11-14 00:58] ChiakiYu commented on #274
Hi.
Your answer is not correct.

this can get correct `LockoutEndDateUtc`:
[code]

[2016-11-14 07:33] hikalkan commented on #274
OK, We'll test it to understand.

Is your app multitenant? Are you trying as host user or tenant user?

[2016-11-14 14:31] Poepon commented on #275
Is not an exception error, should be logged in the process of BUG.
In the case has been successfully logged in, and then request a social login, this problem will appear.
This could be caused by UseCookieAuthentication. Because the login Cookie already exists.
My current solution is to enter the Login Action, the use of _signInManager.SignOutAllAsync (), and then re-enter the Login Action.
But I f

[2016-11-15 08:02] ChiakiYu commented on #274
[code]

[2016-11-15 08:30] hikalkan commented on #275
When user clicks to social login button, you should logout the user before continue. I think this is reasonable, why you didn't like it?
BTW, are you using AspNet Core version with module-zero? If so, it may be related to https://github.com/aspnet/Announcements/issues/201

[2016-11-15 09:18] Poepon commented on #275
I see.
Thank you.

[2016-11-15 09:18] #275 closed

[2016-11-15 10:52] hikalkan opened #276 "Use Microsoft.AspNetCore.DataProtection package for data protection in Abp.Zero.AspNetCore package."

[2016-11-29 13:31] hikalkan commented on #262
This maybe related to https://github.com/aspnetboilerplate/module-zero/issues/263 ?

[2016-11-29 14:00] ismcagdas commented on #262
Tested and seems like resolved.

[2016-11-29 14:00] #262 closed

[2016-11-29 14:01] #263 closed

[2016-11-30 10:14] psyvision commented on #262
@ismcagdas what did you test this with?  I have implemented a non-UserManager based work around for this because I can't get it working. #263 seems to relate to AspNetCore which I am not using.

Is there a planned NuGet release of change since v1.0 soon?

[2016-11-30 10:20] hikalkan commented on #262
v1.1 is completed, updating docs and will release soon (probably today).

[2016-11-30 10:21] psyvision commented on #262
Thanks, I'll give it a test and report back.

[2016-12-05 08:57] Worthy7 commented on #270
The documentation is actually out of date now for MZ, I just started to implement it myself and it isn't correct in quite a few ways. I suggest downloading a template instead form the home page with MZ on it, and copying the code form there instead of from the explanation in the documentation.

[2016-12-05 09:38] psyvision commented on #262
I'm still having issues with this after upgrading to v1.1.1.

I'm trying to find out why (will report any extra information as I find it) but I'm still receiving an "Invalid Token" response to:

[code]

[2016-12-05 09:52] hikalkan commented on #262
Hi,

Maybe it's because of old tokens in database? Can you generate a new token?

[2016-12-05 09:53] psyvision commented on #262
I think I've just tracked it down.  I think I had implemented SecurityStamp as part of the User class before it was in AbpUser, therefore it's not getting the correct value as part of the token generation/validation.

[2016-12-05 09:57] psyvision commented on #262
Yes - this is working.  Thanks!

[2016-12-07 17:57] hikalkan opened #277 "Remove foreign key in onmodelcreating for EF core"

[2016-12-07 18:20] #277 closed

[2016-12-07 23:08] jmhinnen opened #278 "NotificationStore DeleteNotificationAsync not setting TenantId"
So, currently the code inside the NotificationStore for DeleteNotificationAsync is not setting the tenantId to Null before calling delete.

Keep in mind, I am using separate databases for host / tenant.

There are two scenarios to send out Notifications, if there are 5 or more users to be notified, it sends it out via a background job (NotificationDistrubutorJob).  If there are less than 5, it not

[2016-12-08 07:42] hikalkan commented on #278
Hi,

NotificationInfo entity is marked as HOST side. https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Notifications/NotificationInfo.cs#L15

ABP automatically switches to host when you are working with host side entities. This is why it's not need to set host explicitly (Probably, some of other methods have unnecessary code, I should check it).

Do you have any problem with

[2016-12-08 13:29] jmhinnen commented on #278
Let me test it one more time.  Yes, originally we were having an issue with this but for a while there was a bug in the SetCurrentTenant that was not setting the tenant back correctly.  When that was happening, we had to override the method to set it to Null.  So I could be working against another issue that was fixed so this wasn't needed.

To be honest, I think there is an issue, but let me doub

[2016-12-09 10:42] hikalkan opened #279 "abp.zero.ldap email problem"
see https://github.com/aspnetboilerplate/aspnetboilerplate/issues/1638

[2016-12-09 11:06] ismcagdas commented on #279
Hi @kimbendtsen,

Every time a user logs in with Ldap, the user information is updated, that's why I think you loose email information.

Is it possible that, the mentioned user might not have a email address on Ldap, or maybe you dont have permission to access email address information ?

Can you check that ?
You can use UserPrincipal.FindByIdentity to retrieve user's information from LDAP.

[2016-12-09 13:31] kimbendtsen commented on #279
H @ismcagdas, you are right. We were using a test domain setup where the users did not have email addresses. After filling in the email addresses, the users can log in again.

So apparently no issue afterall 👍

I think it was difficult to get to the point where I could actually see that it was the email address missing. I ended up download all source code, remove the NuGet packages, adding referen

[2016-12-11 11:06] gpcaretti opened #280 "AbpLoginManager.cs should have read-only injected properties protected"
v. 1.0.0+
/src/Abp.Zero/Authorization/AbpLoginManager.cs has all the read-only injected properties marked as private.

They should be public or protected for using in derived class (see AbpUserManager<>).

[2016-12-12 08:14] hikalkan commented on #280
Since they are constructor-injected, you can assign an object to a a field of your derived class if you need. But, I'll make commonly used ones protected.

[2016-12-12 08:15] #279 closed

[2016-12-12 08:21] #280 closed

[2016-12-12 08:21] hikalkan opened #281 "Upgrade to ABP v1.1.3."

[2016-12-12 08:21] #281 closed

[2016-12-12 17:35] jmhinnen commented on #278
Ok, it seems to all be working they way you say it should.  I will mark this as closed and if I run into the issue will repost.  Thanks for the help.

[2016-12-12 17:35] #278 closed

[2016-12-16 12:04] cuibty opened #283 "UpdateSecurityStampAsync UserId Not Found"
[code]

[2016-12-16 14:36] hikalkan commented on #283
This generally happens in a multi-tenant application. where you forget to set user's tenant to current unit of work. Be sure that AbpSession.TenantId is same as user's tenant id or manually set tenant id for current unit of work (http://www.aspnetboilerplate.com/Pages/Documents/Multi-Tenancy#switching-between-host-and-tenants)

[2016-12-17 02:44] cuibty commented on #283
thanks!

UpdateSecurityStampAsync does not work

**UserManager.ChangePasswordAsync()** or manual call **UpdateSecurityStampAsync** method

Startup.cs
[code]

User.cs
[code]

[2016-12-19 22:28] aaraya-minolusa commented on #143
Hi @hikalkan I just wanted to follow up on this thread. Has there been any progress made on this front? My company recently purchased ASP.NET Zero and our core database is running SQL 2000, which requires us to use NHibernate instead of Entity Framework to leverage the code-first design of this framework. Just wanted to see how likely full NHibernate support will come to fruition, and if it is alr

[2016-12-20 17:59] hikalkan commented on #143
Hi,

Currently, there are minor problems with NHibernate package as I described.
Doesn't EF support SQL 2000? (SQL 200 is too old :().

This can be an option:

* Add module zero source code into your project (this will prevent to upgrade it anymore when we release new versions, but it's almost mature and we don't add new features much, you can continue it manually).
* Fix missing NHibernate mappin

[2016-12-21 08:40] psyvision commented on #283
@cubity the above code is pretty much what I use.  Although we don't use a multi-tenant scenario so @hikalkan assumption sounds about correct.  I would presume that you need to set the current tenant as part of the regenerateIdentityCallback or when generating the identity.

[2016-12-22 13:33] hikalkan commented on #283
This worked for me:

[code]

But notice that it makes a few database operation in every request, that causes a performance loss.

[2016-12-22 13:33] #283 closed

[2016-12-29 08:45] #273 closed

[2016-12-29 09:09] hikalkan commented on #276
this is already done with https://github.com/aspnetboilerplate/module-zero/commit/5af2a73d8c703426b169b973b70fe6e8a8eaa6e7

[2016-12-29 09:09] #276 closed

[2017-01-04 20:34] junghandy commented on #187
+1

[2017-01-08 18:59] mikerouse commented on #239
Finding this workaround in a single Google search has made my day, thank you.

I also hit the "cannot drop index" problem above, but got out of it by using these migrations:

[http://forum.aspnetboilerplate.com/viewtopic.php?p=6918&sid=fc68362a4a8cbc5313b308eaf2aad028#p6918](http://forum.aspnetboilerplate.com/viewtopic.php?p=6918&sid=fc68362a4a8cbc5313b308eaf2aad028#p6918)

They were provided by,

[2017-01-11 01:37] unreal0 opened #284 "Can add the group?"
Can add the group? each group has its own permissions, Group founders have admin permissions group (management team members, such as whether to allow an applicant to join, blacklisted, etc), other members join and leave the permissions

[2017-01-11 01:38] maliming commented on #284
Role does not solve your problem?

[2017-01-11 01:53] unreal0 commented on #284
whether role only assigned to  users Instead of group or organizational unit?
One group received a single role group members automatically receive the appropriate permissions, such as with administrative privileges, the founder, other members have their own corresponding permission less than founder (with). user permissions for this permission and his different. is independent of the permissions

[2017-01-11 10:00] hikalkan commented on #284
We havent thought such a group approach before. I'm not sure if it's general enough to be a part of the framework. Maybe it's a special system for your own application. Do you know any system implements (or document describes) such a group structure so we can check it as a reference implementation?

[2017-01-11 16:52] krishnandusarkar opened #285 "Can I Override Login Method To Avoid TenantName"
I'm planning to develop a Multi Tenant SaaS Application hosted in the could. I'm using ASP.NET BoilerPlate. Can I override `_logInManager.LoginAsync` to override allowing users to logging in without TenancyName?

I tried navigating through the code, but it seems like, the Abp.Zero Module is bundled and source code is not present in the BoilerPlate Template.

[2017-01-12 02:35] unreal0 commented on #284
I think he should is General, certainly some system not need, can will it as alternative function. such of case many (from China Tencent company of QQ and weixin social software, some Community system wants to built a coterie, invited several people, with tourism and so on, a company of employees, in this sector has a permission, for a sector this permission is disappeared has, is has other permis

[2017-01-12 11:40] hikalkan commented on #285
Hi,

Tenancy name is required since business rule is that: a username can be re-used accross different tenants. That means you can create an "admin" user for tenant A and an "admin" user for tenant B. If you don't provide tenancyname on login, how we can know which user you wanted to login (also, login method internally checks if given tenant is active)?

BUT... you don't have to get tenant name f

[2017-01-12 11:46] krishnandusarkar commented on #285
@hikalkan Thanks a lot for your reply. The whole framework of ASP.NET Boilerplate is matching with that of my requirements except this one situation.

In my case, usernames will be same as emails (something which most of the application now follow to ease remembering of usernames) and thus I need to override this business logic to perform login irrespective of tenant. And upon login, the app would

[2017-01-12 11:52] hikalkan commented on #284
Hi,

From the SO question:

This is exactly how roles works for module zero. Roles are used to group permissions (aka access rights).

On the other hand, module-zero has "Organization Units" which can be used to group users and other objects, so users can perform certain operations on related objects (see http://www.aspnetboilerplate.com/Pages/Documents/Zero/Organization-Units).

[2017-01-13 01:44] unreal0 commented on #284
Can  zero achieve the following functions?
###GroupRole
GR1: { 'create' }
GR2: { 'block' }
GR3: { 'delete' }
GR4: { 'received' }
GR5: { 'send' }
GR6: { 'view' }
GRC(GroupRoleCommon):{  'GR4', 'GR5', 'GR6' }
###user
u1.create('group1'):
	t1(creater): auto-assigned  GRC + GR1 + GR2+ GR3
	t2(join): auto-assigned  GRC
	t3(join): auto-assigned  GRC + GR3(t1 manual-assigned GR3 or some buseness rules )

[2017-01-13 02:34] marcosribj opened #286 "Separate tenant group by database"
I'm interested in hybrid database

I would like to split tenants group between database

For example:

Database1 = TenantA, TenantB and TenantC
Database2 = TenantD, TenantF
...

In this case, would I have three databases? One for users, role e tenant data, and two others for the tenants and yours informations?

Would it be enough to pass the connectionstring to each tenant and use UOW?

In this ex

[2017-01-13 07:58] hikalkan commented on #286
[code]

For this case, you can have 2 or 3 databases. If you want to store host data (host users, roles, tenants... tables) in a separated db, you will have a 3rd database. If you, for example, want to store host data in database1, then you can have 2 databases.

It's enough to pass connection string while creating new tenant (for module-zero startup template). Then it will handle the rest. You no

[2017-01-13 08:05] hikalkan commented on #284
I'm not sure understood it exactly, but roles has not an inheritance feature. But you can assign more than one role to a user, and also add/remove specific permissions to/from a single user.
Current OUs (can be considered as like to groups) has no permission relation. If has inheritance, but it's used to filter/restrict data rather than functionality.
So, I think it's not what you want.

[2017-01-13 08:40] hikalkan commented on #285
So, you can do it like that: In the AccountController.Login, first disable IMayHaveTenant filter and query user from IReposiory<User, long>, something like that:

[code]

Then you will have the tenancyName. You can pass it to the LoginManager.

BUT.. remember that this only works if all tenants are in same database. If you use database per tenant approach, you can not execute query accross multipl

[2017-01-13 12:24] krishnandusarkar commented on #285
@hikalkan That's great!! Yes I can do that. Do you require TenantID or TenantName?

I have two more questions...

- Can I remove tenantName property from Login Model? API Users of mine otherwise would get confused with that property around.

- Most importatantly, how can I modify the access token? I mean I need to add more return values like TenantID and other initial values on successful login wh

[2017-01-15 01:29] unreal0 commented on #284
I hope that zero can improve the function

[2017-01-15 19:18] hikalkan commented on #285
Login method needs tenancyname. You can see it's signature: https://github.com/aspnetboilerplate/module-zero/blob/dev/src/Abp.Zero/Authorization/AbpLoginManager.cs#L114

For the token question; you may want to check this: https://gist.github.com/hikalkan/67469e05475c2d18cb88 (it may be different in your case, but the fundamental idea is to add claims to the cookie/token)

[2017-01-16 12:33] krishnandusarkar commented on #285
Thanks a lot @hikalkan :)

[2017-01-16 12:33] #285 closed

[2017-01-16 16:22] krishnandusarkar opened #287 "Connect With Azure AD"
Hi, I have gone through your documentation of LDAP Settings. But my requirement is kind of, I'll definitely run it in multi tenant mode and the WebAPI's will be consumed by Mobile App and the Web Portal will be used by my internal support people to create tenants or edit anything if the consumers of WebAPI are having problem.

So my query is, can I connect the Web Portal with Azure AD? Only specif

[2017-01-17 07:09] hikalkan commented on #287
Current LDAP integration does not run for Azure AD (I don't know if it's working actually).
But you can create a class to authenticated with Azure AD. See documentation: http://www.aspnetboilerplate.com/Pages/Documents/Zero/User-Management#external-authentication

[2017-01-18 15:41] krishnandusarkar commented on #287
Thanks I'll try that :)

[2017-01-18 15:41] #287 closed

[2017-01-18 16:16] wocar commented on #287
When you are done implementing your solution, mind sharing it with us?
Thank you :)
El El mié, 18 de enero de 2017 a la(s) 9:41 a.m., Krishnandu Sarkar <
notifications@github.com> escribió:

[2017-01-18 16:17] krishnandusarkar commented on #287
Sure @wocar :) If I can successfully implement it, I'll surely share it here for benefit of others

[2017-01-20 02:04] Worthy7 commented on #165
There is a bug. If you use this function, then any  [Table("参加")] definitions get ignored.

[2017-01-20 07:21] hikalkan commented on #165
Yes. It's not possible to use them together. However, you can call ChangeAbpTablePrefix, then set table name after that to override naming (and don't use Table attribute).

[2017-01-20 14:31] hikalkan opened #288 "Dependency Optimizations"
See

* https://github.com/aspnetboilerplate/aspnetboilerplate/issues/1528
* https://github.com/aspnetboilerplate/aspnetboilerplate/issues/1749

[2017-01-25 08:42] maliming opened #289 "Some questions about OU"
The OU does not have permission.
I think some permissions to bind in the department or position is more reasonable.
What ABP OU design idea is?
How do I combine permissions and OUs?

[2017-01-25 12:31] hikalkan commented on #289
Hi,

Permission system is used to restrict application functionality (say, creating a user, see a report...), OU is used to restrict application data (say, see a subset of data in the report, or see data related to his own OU). See doc: http://www.aspnetboilerplate.com/Pages/Documents/Zero/Organization-Units

Your suggestion is also seems reasonable at first sight. And I think https://github.com/a

[2017-01-25 13:56] maliming commented on #289
In other words, ou and Permissions no relationship? Difficult or should not let both Associated with?

[2017-01-25 14:03] hikalkan commented on #289
I depends on what you want to achive. Example scenario:

You want to have an OU which have several members. Then you want to set one of the users as 'manager', so a manager can assign tasks to the members of this OU.

To achive it; you can define a 'assign task to members' permission and create a 'Manager' role which has this permission. Then you can assign manager role to a user in the OU. Then y

[2017-01-25 14:32] maliming commented on #289
You each ideas are enough I think some time. Our team will discuss this question. Before I do not know OU is used to restrict application data.Now I deeper understanding of the OU. Thank 👍

[2017-01-26 01:28] #289 closed

[2017-01-28 20:27] junghandy opened #290 "Documentation tag for AbpUser.PhoneNumber is incorrect"
The summary text for AbpUser.IsPhoneNumberConfirmed reads "Is the `AbpUserBase.EmailAddress` confirmed." when it should probably read "Is the `AbpUser.PhoneNumber` confirmed."

See https://github.com/aspnetboilerplate/module-zero/blob/dev/src/Abp.Zero/Authorization/Users/AbpUser.cs#L136

[2017-01-29 11:23] behiunforgiven commented on #33
How did you solve that?

[2017-01-29 11:44] emaish commented on #33
This was two years ago, maybe there is a better way to implement it now :) but here how i did it
[code]

[2017-01-30 13:02] hikalkan commented on #290
Thanks a lot. Fixed: https://github.com/aspnetboilerplate/module-zero/commit/36f950756fbca1a42920f054fc5de3d462ce4d06

[2017-01-30 13:02] #290 closed

[2017-01-31 11:23] hikalkan opened #291 "Implement ITenantStore with tenant cache"

[2017-02-01 07:34] Worthy7 commented on #283
Hmm, can these be put into a cache @hikalkan ? It makes sense to have them be checked every time a user   makes a request but of course it will slow down every request. So can It be cached some how for the last 10 minutes or so for any user? (I don't know how caching in ABP works yet)

[2017-02-01 10:07] marcosribj commented on #286
@hikalkan
With this new implementation DapperRepository has been deprecated?

[2017-02-01 10:49] hikalkan commented on #286
This is not related to Dapper. Also, ABP has not built-in DapperRepository.

BTW, DbContext factory is for EF. There is also a ConnectionStringResolver (which is used by DbContextResolver).

[2017-02-01 12:38] bogeydude opened #292 "NHibernate filters and AbpZero don't seem to work"
Hi Kalkan,
I'm trying to get AbpZero running with NHibernate. All goes well except for tenant filtering in a multitenancy database. Somehow this feature doesn't work: filters don't get applied which of course leads to errors. For instance when I try to login and try to find the user the MayHaveTenantFilter doesn't get set and the query comes up with the first user with the given name (if a usernam

[2017-02-02 11:25] hikalkan commented on #292
I should check this.

[2017-02-02 11:32] hikalkan commented on #283
You can use ABP's caching to improve it.

[2017-02-02 12:15] ismcagdas opened #293 "UpdateUser problem of UserManager"
See http://forum.aspnetboilerplate.com/viewtopic.php?f=5&t=4954.

UpdateUser of UserManager fails when updating a user of a tenant different than current tenant.

[2017-02-02 12:18] #293 closed

[2017-02-02 12:49] #291 closed

[2017-02-07 08:07] thanhdevapp commented on #272
Hi, so, i using aspnet core how to default language with cultureName

[2017-02-07 09:52] hikalkan opened #294 "Russian translation culture should be "ru" instead of "ru-RU"."

[2017-02-07 09:53] #294 closed

[2017-02-07 14:29] Atrion-CG opened #296 "Notifications are not always received"
Greetings,

I have been attempting to use notifications and noticed that sometimes they are not delivered at all. Checking the database I can see that it was saved, but would still get the following warning in the logs:

WARN  2017-02-07 08:58:39,547 [191  ] bp.Notifications.NotificationDistributer - NotificationDistributionJob can not continue since could not found notification by id: 8f21cbde-3c

[2017-02-08 16:17] nandaccio opened #297 "Active Directory based authentication"
Does module-zero support a configuration like the following one, we need to send AD requests to

[code]

As our authorization server.

I added Abp.Zero.Ldap.Domain to [dbo].[AbpSettings] and the corresponding value is retrieved successfully from:

[code]
Configuration.Modules.ZeroLdap().Enable(typeof(OurLDAPAuthenticationSource));  is invoked in the PreInitialize() method of our module and  Config

[2017-02-09 07:15] hikalkan commented on #297
As you know, you derived your class from LdapAuthenticationSource (https://github.com/aspnetboilerplate/module-zero/blob/dev/src/Abp.Zero.Ldap/Ldap/Authentication/LdapAuthenticationSource.cs). You can override any method to see if it's called. For example, override TryAuthenticateAsync and add a breakpoint. It should be called when user logging in.
Also, I suggest you to check this class. You can

[2017-02-09 08:02] hikalkan commented on #296
It's not related to await, because the GetNotificationOrNullAsync method is not async. So, we can directly return the Task returned from the repository.

Are you using hangfire or default background job manager? And are you sending notifications to a single user or multiple users?

[2017-02-09 08:43] maliming opened #298 "How to extend the OrganizationUnit model to add custom attributes?"
Just like the User class extends AbpUser.
thanks

[2017-02-09 08:49] maliming commented on #298
#168

[2017-02-09 08:49] #298 closed

[2017-02-09 08:55] hikalkan commented on #298
See https://www.aspnetzero.com/Documents/Extending-Existing-Entities#extending-non-abstract-entities

[2017-02-09 12:14] nandaccio commented on #297
It actually works! At least, TryAuthenticateAsync is invoked as expected. I guess that I'll have to put there the logic to make requests to:

[2017-02-09 12:30] nandaccio commented on #297
I found it. GetLoginResultAsync is invoked first, then the TryAuthenticateAsync method of my LDAPAuthenticationSource class. Great!

[2017-02-09 12:30] #297 closed

[2017-02-09 13:02] nandaccio opened #299 "Ldap Authentication is disabled for given tenant (id:1)! You can enable it by setting 'Abp.Zero.Ldap.IsEnabled' to true"
I'm experiencing an unexpected behaviour with the following stub method:

[code]

It after returning it generates the following exception:

[code]

But:
- MultiTenancy is disabled (I commented out Configuration.MultiTenancy.IsEnabled)
-  Configuration.Modules.ZeroLdap().IsEnabled; is TRUE
-  The following records have been added to AbpSettings:

[code]

- In the account controller, GetLoginResultA

[2017-02-09 13:27] Atrion-CG commented on #296
I'm using the default background job manager. I noticed that I only have the problem when I specify the users to send to. If I omit the list then it works fine.

So it seems like it's fine when it kicks off the job, but not when it calls into distributeAsync directly:

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Notifications/NotificationPublisher.cs#L103

I end up gett

[2017-02-09 13:38] nandaccio commented on #299
Update, I changed my test code to:

    public class DummyLDAPAuthenticationSource : LdapAuthenticationSource<Tenant, User>
    {
        private readonly ILdapSettings _settings;
        private readonly IAbpZeroLdapModuleConfig _ldapModuleConfig;

        public DummyLDAPAuthenticationSource(ILdapSettings settings, IAbpZeroLdapModuleConfig ldapModuleConfig)
            : base(settings, ldapModul

[2017-02-09 13:56] thanhdevapp opened #300 "Register account with facebook error because contrains foreign key"
I get error when register with facebook, i debug and see in sql insert id  not match with id of table user, i need drop constrain to fix, i think is id of facebook

SqlException: The INSERT statement conflicted with the FOREIGN KEY SAME TABLE constraint "FK_dbo.AbpUsers_dbo.AbpUsers_CreatorUserId". The conflict occurred in database "ABPnetcoreDb", table "dbo.AbpUsers", column 'Id'.
The statement h

[2017-02-09 18:54] Atrion-CG commented on #296
I was researching a little more, and I *think* that normally returning the task back from a non-async method would be fine, except in the case where you have it wrapped in a using. It's possible that the using is being disposed before the task is completed, so the tenant id is set back to the old value instead of null, which is what the notification is set to in the database (null).

I think that

[2017-02-09 19:49] hikalkan commented on #296
I suppose you are right. I will fix it. Thank you very much for the detailed explanation.

[2017-02-10 19:29] hikalkan commented on #299
I could not understand much. But LdapAuthenticationSource is very simple. You can just copy all code and customize it yourself for your own needs.

[2017-02-13 05:34] sujanmah062 opened #301 "A constructible type deriving from dbContext could not be found in the selected file"
Hi all,

I'm using Abp.0.10.3.1 version.  When i try to generate precompiled view using EF PowerTools Beta 4 and it says "A constructible type deriving from dbContext could not be found in the selected file".

Could someone please help me to solve this problem.
Thanks in advance

[2017-02-13 08:36] hikalkan commented on #301
Never tried EF PowerTools before. Can you share your dbcontext constructors? Maybe it waits for a default constructor.

[2017-02-13 09:09] sujanmah062 commented on #301
public PropertyDbContext() : base("Default")
        {

        }

   public PropertyDbContext(string nameOrConnectionString) : base("Default")
        {

        }

  public PropertyDbContext(DbConnection dbConnection) : base(dbConnection, true)
        {

        }

[2017-02-13 09:17] sujanmah062 commented on #301
Hi @hikalkan
I googled around and thought "public class PropertyDbContext : AbpZeroDbContext<MyTenant, MyRole, MyUser>" might be the cause. When i replace AbpZeroDbContext<MyTenant, MyRole, MyUser> with DbContext it says "Could not load file or assembly Abp, version 0.10.3.1"

![screenshot_1](https://cloud.githubusercontent.com/assets/25734794/22877384/52ddaf02-f1fd-11e6-89e5-34e662d64786.png)

[2017-02-13 11:54] maliming opened #302 "OrganizationUnitManager Create issue"
[OrganizationUnitManager.cs#L31](https://github.com/aspnetboilerplate/module-zero/blob/dev/src/Abp.Zero/Organizations/OrganizationUnitManager.cs#L31)

I think this should be `await OrganizationUnitRepository.InsertAndGetIdAsync (organizationUnit);`

Or if once create multiple ou, containing parent id not easily。

[2017-02-13 11:59] maliming commented on #302
`
 var organizationUnit = new OrganizationUnit(tenantId: AbpSession.TenantId, displayName: tree.Key, parentId: id);
          _organizationUnitManager.Create(organizationUnit);
//_unitOfWorkManager.Current.SaveChanges();
var childrenOrganizationUnit = new OrganizationUnit
{
          TenantId = AbpSession.TenantId,
           DisplayName = "",
           ParentId = organizationUnit.Id,
};

[2017-02-13 19:59] hikalkan commented on #302
It should get id when you call ``_unitOfWorkManager.Current.SaveChanges();``. Doesn't it work?

[2017-02-13 22:45] maliming commented on #302
yes，its work，Perhaps should not be internal call savechange. thanks！

[2017-02-13 22:45] #302 closed

[2017-02-14 14:35] emaish opened #303 "Is Lockout functionality working after MaxFailedAccessAttemptsBeforeLockout ?"
It's not working with me

[2017-02-14 20:29] GouseBaig commented on #150
Hi,

Can you please send me code samples.

[2017-02-15 01:40] maliming opened #304 "Why can not create new permissions after the application is started?"
as this title.

[2017-02-15 04:17] maliming commented on #304
I found a way to create it

[code]

[2017-02-15 05:31] maliming opened #305 "Add an attribute to the OrganizationUnit Entity."
hi @hikalkan
I think you should add an attribute to the OrganizationUnit Entity, such as Name or any other attribute.
If we need to query out a tree structure in the OU when using this property.

Because DisplayName may be modified by the UI, but Name will not change in general.
The service layer uses the Name property when getting the OU tree.
UI modification DisplayName does not need to rewrite

[2017-02-15 08:03] hikalkan commented on #301
AbpZeroDbContext<MyTenant, MyRole, MyUser> is a generic class. I don't think that it does not support a generic base class. I will test it.

[2017-02-15 08:36] hikalkan commented on #301
I suppose this tool does not support inheritance.
If you want to create code first classes for your database, I suggest you to do it in an empty project (without ABP) then copy your classes into your ABP based solution.

[2017-02-15 09:22] jamesatgithub commented on #272
@hikalkan Any suggestion to do localization per user based on user's settings in db? I need to return localized message from api controllers but don't want client to send language per each call, reading user's language local in db is prefered

[2017-02-15 10:28] hikalkan commented on #303
The user's IsLockoutEnabled should be true in the database. Can you check it?

[2017-02-15 10:34] hikalkan commented on #303
When I enable it in the database it worked.

But there is a problem in the startup templates. They don't show an appropriate error message for user lockout. I created an issue for that: https://github.com/aspnetboilerplate/aspnetboilerplate-templates/issues/46

BTW, you can change AccountController.CreateExceptionForFailedLoginAttempt method to handle lockout case.

[2017-02-15 10:48] hikalkan commented on #304
ABP's permissions are hard-coded. That means their names are known in development time. For example, you can use such an attribute for an application service:

[code]

With such a usage, it's not possible to make this permission name dynamic.

In brief, we think we know permissions in the development time and no meaning to create dynamic permissions on runtime.

But, surely you may have different

[2017-02-15 10:49] hikalkan commented on #305
Organization Unit has a Code property for that. Do you know it?

[2017-02-15 10:59] hikalkan commented on #272
You can get it from setting manager:

[code]

You can also use SettingManager to change setting's value for a user.

[2017-02-15 11:32] maliming commented on #305
Code may change and are not readable. But Name can be customized.

[2017-02-15 11:35] hikalkan commented on #305
Do you want to show this Name on UI? If so, how will you localize it? And, is that will be an hard-coded name?
Anyway, actually you can a new property as described here: https://www.aspnetzero.com/Documents/Extending-Existing-Entities#extending-non-abstract-entities
While this doc is for Edition entity, it's similar for OU entity too.

[2017-02-15 12:05] maliming commented on #305
DisplayName is displayed on the UI(), and Name is used in the application.
We can modify the DisplayName on the UI, but it does not affect the application layer method.
[code]

[2017-02-15 12:39] maliming commented on #304
Our company has a number of subsidiaries, in an application office. (Not multi-tenant applications).

We currently have SubsidiaryA, SubsidiaryB.
X employees in SubsidiaryA.
Y employees at SubsidiaryB.

The application has a ViewCompanyAddressBook function:
[code]

Business needs:
Employees can only view the company's address book.
But also allows him to see other subsidiaries of the address book.

[2017-02-15 12:46] hikalkan commented on #304
Even permissions was dynamic, I think permission system is not proper for such a business rule. I suggest you to use organization units (so, you can add a user to more than one OU to allow to see address book of given OUs) or create your own table to maintain you custom permissions.

[2017-02-15 12:56] maliming commented on #304
The idea above is based on what we want to use abp permissions.
Thank you very much for your reply, we will think about other ways. 😊

[2017-02-15 12:56] #304 closed

[2017-02-15 16:49] emaish commented on #303
i already changed CreateExceptionForFailedLoginAttempt , but i didn't know that IsLockoutEnabled  should be toggled on, it's not documented :)

Thank you

[2017-02-15 16:49] #303 closed

[2017-02-15 19:14] hikalkan commented on #303
Actually, this is a feature of Microsoft.AspNet.Identity. This is why we haven't documented user lockout feature at all.
But I made it enabled by default for next releases (https://github.com/aspnetboilerplate/module-zero/commit/919e8f0b3f13109a722e9e750850189e2cca7519)

[2017-02-15 23:35] maliming commented on #305
I know that can be extended, just feel abp should also be added.

[2017-02-16 09:31] hikalkan commented on #305
In most applications, OUs are completely dynamic but in some applications some OUs can be static. I'm not sure if this is a common requirement.
Please extend it for you. If it's not hard, no need to add to the framework.

[2017-02-16 09:53] maliming commented on #305
ok I'll do that. Thank you so much!

[2017-02-16 09:53] #305 closed

[2017-02-22 16:30] segreyg opened #306 "AbpLoginManager doesn't support SuccessRehashNeeded"
Hi,
With implementing advansed PasswordHasher we can't use PasswordVerificationResult.SuccessRehashNeeded status in expected way.

We don't think that override of  complex method LoginAsyncInternal is the best solution here.
So, could you add appropriate handler in LoginAsyncInternal method of AbpLogInManager class ?
[code]

[code]

[2017-02-23 02:22] marcosribj opened #307 "Refresh Token"
Implement refresh token feature
Why ? Because prevent the theft of access_token, and leave its life cycle lower and guarantees auto login for the user(only refresh your token)

[2017-02-23 17:08] mona6767 opened #308 "How Use SwitchToLinkedAccount ?"
hello,

best regard .

How use "SwitchToLinkedAccount" for user in AccountController ?

thank you .

[2017-02-23 18:27] hikalkan commented on #306
Thank you. I hadn't know that. I'll implement for the next version.

[2017-02-24 12:58] hikalkan commented on #308
Hi,

As I know, there is no such a feature in free templates. Where is it?

[2017-02-24 15:39] mona6767 commented on #308
salam!

bebakhshid./

i see that on "aspnetzero.com" demo .

so , i need multi account for one UserId , for login with different Tenant !

is it possible for module-zero ?

can i use "ImpersonateSignIn" for this ?

mamnon.

[2017-02-24 18:07] hikalkan commented on #308
For module-zero, you should develop it yourself. But it's not so hard.
I don't know where did you see ImpersonateSignIn?

[2017-02-25 05:51] mona6767 commented on #308
i see that here :
https://gist.githubusercontent.com/hikalkan/8862d9f7ae8b4874976d/raw/c3a6af68584184fb49a5d9823d313ec9b0806ba2/AccountController.cs

[2017-02-25 05:52] mona6767 commented on #308
very thank you .

[2017-02-25 18:37] hikalkan commented on #308
Hi,

I had shared this to people want to know how to implement this. So, you can take it as a starting point to build this feature.

[2017-02-25 20:24] mona6767 commented on #308
of course, very thank you .

[2017-03-01 13:47] hikalkan commented on #300
Which template are you using?

[2017-03-01 14:52] hikalkan commented on #300
moved to https://github.com/aspnetboilerplate/aspnetboilerplate-templates/issues/49

[2017-03-01 14:52] #300 closed

[2017-03-01 18:17] hikalkan commented on #292
Have you derived your Entity mapping class from ``EntityMap<TEntity,TPrimaryKey>``?

[2017-03-02 09:46] Worthy7 commented on #165
I think the table attribute should take priority, don't you?

[2017-03-02 11:20] hikalkan commented on #165
Entity Framework overrides attributes by fluent configuration. This is EF's design and we follow it. Why not just using fluent configuration?

[2017-03-02 12:07] hikalkan opened #309 "ITenantCache should work case insensitive."

[2017-03-02 12:34] #309 closed

[2017-03-04 06:57] maliming opened #310 "about [UnitOfWork]"
[OrganizationUnitManager](https://github.com/aspnetboilerplate/module-zero/blob/dev/src/Abp.Zero/Organizations/OrganizationUnitManager.cs#L34)

In the OrganizationUnitManager, Create, delete, Move method has [UnitOfWork] attribute, why update method does not have this property?

[2017-03-05 18:01] hikalkan commented on #310
Hi,

Because it's not needed (not needed to be transactional) for Update, but others need.

[2017-03-06 00:13] Worthy7 commented on #165
Fair enough.

[2017-03-06 00:19] Worthy7 opened #311 "IsGranted and complex permissions"
At the moment I have written a bunch of functions inside each service such as:

CanEdit(EntityDto input) {
//has super admin permission then return true
//can edit because it is related to this user then return true
return false
}

I read in the documentation that "IsGranted" could be overwritten to perform all kinds of logic. I guess this would be using a large switch/case statement for each of t

[2017-03-06 00:27] maliming commented on #310
hi @hikalkan
Sorry, I did not fully understand, can you explain it in detail? This is the core function, I do not want to have a wrong understanding.  (I have seen the documentation for [Unit-Of-Work many times)

[2017-03-06 07:10] hikalkan commented on #310
This is a library code. Why do you need to understand it? It just works. But I will try to explain a bit longer.

UnitOfWork attribute makes a method transactional. In Create, Delete and Move we have more than one database operation, so they should be transactional. Actually, since you will use this methods from an app service, it will be already transactional even we don't use the attribute. But

[2017-03-06 07:25] maliming commented on #310
thanks. i got it.

[2017-03-06 07:25] #310 closed

[2017-03-06 18:17] hikalkan opened #312 "Upgrade to ABP v1.5.0."

[2017-03-06 18:42] #312 closed

[2017-03-06 19:05] hikalkan commented on #311
Your case requires "per entity permissions". ABP does not provide a solution for that except organization unit system which may help you. So, you can go however you like.

[2017-03-09 06:49] hikalkan opened #317 "Convert to VS 2017 format"

[2017-03-09 14:28] #317 closed

[2017-03-09 14:41] bogeydude commented on #292
Yes, they are:
`public class UserMap : EntityMap<User, long>`

[2017-03-12 02:38] denisvirissimo commented on #160
+1

[2017-03-12 02:43] denisvirissimo opened #319 "Permission by URL"
Why not have permission check work by identifying if the role/user has the permission for the URL that is being called?
This way there would be no need to hard code the permissions.

[2017-03-12 09:51] hikalkan commented on #319
A few reasons;

* It's so web specific way. Also, URLs can be changeable, but permission names are more static since they are related to application functionality.
* Same permission check may be needed for different web actions. Especially if you have a web app, a rest API and a mobile application.
* 2 URL can be actually related to single operation. Example: When editing an entity you may have 2

[2017-03-12 21:05] denisvirissimo commented on #319
Thanks for your responde, @hikalkan. Neve thought this way.
The only thing that bothers me is the hard coded names, but nothing we can deal with...

[2017-03-13 06:18] maliming opened #320 "[UnitOfWork] property in the Controller"
[module-zero-template AccountController](https://github.com/aspnetboilerplate/module-zero-template/blob/master/src/AbpCompanyName.AbpProjectName.WebMpa/Controllers/AccountController.cs#L177)

[code]

Why is this marked [UnitOfWork], and other methods are not marked, as far as I know . Controller default is the unit of work, I am confused.

[2017-03-13 07:31] hikalkan commented on #320
I suppose this is an old code. Written when controller actions were not unit of work by default. We can remove it.

[2017-03-13 07:33] hikalkan commented on #320
moved to https://github.com/aspnetboilerplate/aspnetboilerplate-templates/issues/51

[2017-03-13 07:33] #320 closed

[2017-03-13 07:40] #319 closed

[2017-03-13 07:41] hikalkan commented on #319
In future major versions, we will re-consider this if we can make simpler.
Thanks.

[2017-03-13 08:53] xyfy opened #321 "questions with roles and users;"
I have several roles ,a role have its own user model。

for example:
the [Seller] Role  have Seller Model
the [Admin] Role have Admin Model
the [Buyer] Role have  [Buyer] Model

Is there any better method to resolve my scene?

I want to overload  Abp.Authorization.AbpLogInManager,but the property [userManager] is AbpUserManager is readonly,cannot overwrite in sub-class.

[2017-03-13 08:55] xyfy opened #322 "How to use cellphone to login"
you provide using the email to login.

but if i want to using the cellphone to login.how to do this?

[2017-03-13 09:58] hikalkan commented on #321
Hi,

I think you want to create multiple User types. You can create subclasses of User. It's not proper to make it via roles which are just used to group permissions.

[2017-03-13 09:59] hikalkan commented on #322
Do you mean two factor login? If so, you can do that yourself. AspNet Identity has two-factor auth feature.

[2017-03-14 02:59] xyfy commented on #322
no,I  want to use [username or cellphone] to login, not use  [username or email] to login which is default.

[2017-03-14 03:02] xyfy commented on #321
if I create subclasses of User ,  do I need to rewrite the 【zero】?   Some property of classes could not overload,
for example:
the property [userManager] in AbpUserManager is readonly

[2017-03-14 03:04] maliming commented on #322
[Phone numbers are not guaranteed to be unique today, they are not  #keys](https://github.com/aspnet/Identity/pull/1055)

#https://github.com/aspnet/Identity/pull/1055

[2017-03-14 03:07] xyfy commented on #321
I do not use you source code ,only find it in nuget.

[2017-03-14 10:35] hikalkan commented on #322
AbpLoginManager does not support this, but you may change AccountController.Login method to handle it yourself (query database for cellphone, find user, check password and make login).

[2017-03-14 10:52] hikalkan commented on #321
User class can be inherited without changing Abp.Zero source code.  User code is in your own solution. UserManager will work with base User class, but nor problem EF supports inheritance. You can use TPH approach.

[2017-03-15 02:06] xyfy commented on #321
`     public class loginmanager : AbpLogInManager<Tenant, Role, User>
    {

        public loginmanager(AbpUserManager<Role, User> userManager, IMultiTenancyConfig multiTenancyConfig, IRepository<Tenant> tenantRepository, IUnitOfWorkManager unitOfWorkManager, ISettingManager settingManager, IRepository<UserLoginAttempt, long> userLoginAttemptRepository, IUserManagementConfig userManagementConfig,

[2017-03-15 02:10] xyfy commented on #321
In this scene , is better to use TPT approach?

[2017-03-15 02:14] xyfy commented on #322
I know this way,but I am not tend to use this.

it's perfect when you can define such methods in your source code ,

[2017-03-15 03:07] ChiakiYu commented on #322
In  `_logInManager.LoginAsync` ,it call `UserManager.AbpStore.FindByNameOrEmailAsync`
so you can override `FindByNameOrEmailAsync` like
[code]

[2017-03-15 03:09] xyfy commented on #322
thanks,I know this way.  but the method name is not match the content

[2017-03-15 09:27] xyfy commented on #321
What's the relation between User & UserAccount

[2017-03-15 10:07] hikalkan opened #323 "Microsoft.AspNetCore.Identity version as Abp.ZeroCore"
Creating Abp.ZeroCore package which uses Microsoft.AspNetCore.Identity. Also, will create Abp.ZeroCore.EntityFrameworkCore that provided EF Core integration.

- [x] Extract Abp.Zero.Common package that will be shared between Abp.Zero and Abp.ZeroCore.
- [x] Remove AspNet Identity dependency from TenantManager.
- [x] Create Abp.ZeroCore package based on Microsoft.AspNetCore.Identity.
- [x] Create A

[2017-03-15 10:36] hikalkan opened #324 "Remove Obsolete code"
- [ ] AbpRoleManager.HasPermissionAsync methods

[2017-03-15 10:44] diogodamiani commented on #323
If you need some help, let me know. I've started working on a solution using ASP.NET Core Identity + Abp Frame a few days ago. It's only a small PoC.

It make sense for me to use Module Zero packages instead of writing everything from scratch.

[2017-03-15 10:45] hikalkan commented on #323
Thanks a lot for your offer. I will ask you if I need.

[2017-03-15 14:34] hikalkan commented on #321
UserAccount is a simplified and unified Users table. With database per tenant approach, each tenant's users are stored in their own database and it's not possible to query from all users in a single query. UserAccounts are always stored in the host database (and synchronized with all tenant users), so we can query from it in certain cases.

[2017-03-16 10:08] xyfy opened #325 "TPH questions"
When I created sub-class for Users , the table added column named "Discriminator"

How can I use this column to filter data???

[2017-03-16 12:55] hikalkan commented on #325
It's Entity Framework's own field. You can search web if you want to find more about that (this is not related to ABP).

[2017-03-16 12:55] #325 closed

[2017-03-17 09:18] xyfy commented on #325
I'm sorry ,but where I used it in abp.zero ,      it's hard to use.    with abp.zero when I derive serveral class from User,     how can I use the sub-class?

May be I should overload   the [Users] property in [AbpZeroDbContext] class?

[2017-03-18 11:57] scorpion86 opened #326 "Localization problem."
Hi I downloaded AspNetCore 1.x Multi Page Web App template with modul-zero. When i try to login with wrong password it gives an exception (Must Set LocalizationSourceName before, in order to get LocalizationSource). But i can change language on ui.

[2017-03-18 12:46] prom3theu5 opened #327 "TableNames"
Hi. Can we change table names without having to grab source? I see there is a built in extension for it - any pointers on how or where to use it? - I need to add a prefix to the already existing prefix.

[2017-03-18 13:29] hikalkan commented on #327
in your dbcontext:

[code]

[2017-03-18 13:30] prom3theu5 commented on #327
Awesome sauce - thanks man
And nice work on this :)

[2017-03-18 13:31] #327 closed

[2017-03-18 18:53] denisvirissimo opened #328 "Foreign key relationship not generated for some audited entities"
I've notice that some entities (e.g. BackgroundJobs, Features, Editions) in Module Zero do not have foreign key generated in migrations for the User Id (creator, deleter, modifier) of Audited class. As a consequence, there is no referential integrity in the database.
Is there any reason for the boilerplate being like this?

[2017-03-20 08:18] xyfy opened #329 "How to close [email] required attribute"
My System do not required the [email address]  ,but required cellphone

and I am in Asia ,not use [surname],[name],        one [Name] maybe is all.

how can I do with this scene?

[2017-03-20 17:26] hikalkan commented on #325
Hi. You can read this document to understand inheritance on EF: https://weblogs.asp.net/manavi/inheritance-mapping-strategies-with-entity-framework-code-first-ctp5-part-1-table-per-hierarchy-tph

[2017-03-20 17:30] hikalkan commented on #326
Maybe this is missed for the project. Can you check: https://github.com/aspnetboilerplate/module-zero-core-template/blob/master/aspnet-core/src/AbpCompanyName.AbpProjectName.Web.Core/Controllers/AbpProjectNameControllerBase.cs#L11

[2017-03-20 17:37] hikalkan commented on #328
In current design, it would be fine to add foreign keys actually. There is no good reason actually. Add your own database if you like. We consider this for future versions. Thanks.

[2017-03-20 18:38] hikalkan commented on #329
You can use EF's onmodelcreating to make email optional in database. Then you can check cellphone while creating user. Also, you could easily make a workaround by setting emailadress to a dummy value (like cellphonenumber@yourdomain.com).

[2017-03-20 21:05] scorpion86 commented on #326
I checked it. But the code is same.

[2017-03-20 21:17] scorpion86 commented on #326
Im using sql express 2016 by the way.

[2017-03-21 01:49] xyfy commented on #329
so the best way to resolve my question  is setting emailadress to a dummy value(like cellphonenumber@yourdomain.com).
Thanks.

[2017-03-21 07:13] hikalkan commented on #326
Add a breakpoint to your class and see if LocalizationSourceName is set to a value? If not, set it from your constructor (actually, in startup templates it's set in base controller, but maybe your controller does not derive from it).

[2017-03-21 15:44] scorpion86 commented on #326
All my controllers derive from baseclass and i tried it with a new sample which i didnt changed anything. When i look at that property with breakpoint in debug mode i can see that its value have been set.

[2017-03-21 16:31] scorpion86 commented on #326
i added case AbpLoginResultType.LockedOut and not used L() method and it works. But when i tried to use it with L() method then im  getting that exception again.

[2017-03-22 14:55] hikalkan commented on #326
If this exception is thrown in a new template, it's easier to fix. Let us check it. Thanks.

[2017-03-23 10:14] hikalkan opened #331 "Password Compexity Settings for identity core"

[2017-03-27 07:39] ismcagdas commented on #326
Closed https://github.com/aspnetboilerplate/module-zero-core-template/issues/13.
We need to set LocalizationSourceName in constructor of AbpLoginResultTypeHelper because it is not an app service, it derives from AbpServiceBase.

[2017-03-27 07:39] #326 closed

[2017-03-27 09:37] gpcaretti opened #332 "Localization for Italian Language"
module-zero/src/Abp.Zero/Zero/Localization/Source/AbpZero-it.xml.

Alignement with minor fixes
[AbpZero-it.zip](https://github.com/aspnetboilerplate/module-zero/files/871991/AbpZero-it.zip)

[2017-03-27 10:42] ismcagdas commented on #300
Hi @thanhdevapp,

Which version do you use ? ASP.NET MVC 5.x or ASP.NET Core ?

[2017-03-29 06:23] #301 closed

[2017-03-29 06:34] sujanmah062 opened #333 "Error on "Login as this user" or "Login as this tenant" - data:text/html,chromewebdata"
Hi all,
I'm using Abp.1.4.2.0 version. When I click on "Login as this user" or  "Login as this tenant", while URL redirecting an error occurred as shown in screenshot. This error only exist in chrome browser.
![screenshot_8](https://cloud.githubusercontent.com/assets/25734794/24441488/8456de3e-1479-11e7-8029-c7d7fd0e87dc.png)

[2017-03-29 14:24] gijswijs opened #334 "Exception thrown: 'System.IO.FileLoadException' in System.Net.Http.dll"
I get en error thrown when I call this endpoint  /api/TokenAuth/ExternalAuthenticate

System.IO.FileLoadException: 'Could not load file or assembly 'System.Diagnostics.DiagnosticSource, Version=4.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference. (Exception from HRESULT: 0x80131040)'

[2017-03-29 14:34] hikalkan commented on #334
This is a bug of System.Net.Http 4.3.0. Move to 4.3.1 (see https://github.com/aspnet/JavaScriptServices/issues/487#issuecomment-282143521) for your project (explicitly add this package). It worked for me.

[2017-03-29 14:46] gijswijs commented on #334
@hikalkan Did you add it to a specific project, or to every project?

[2017-03-29 14:47] hikalkan commented on #334
To the startup (web) project.

[2017-03-30 08:29] redbinkieresearchlabs commented on #165
I have added the code to my DBContext class and i get the error OnModelCreating no suitable method found to overwrite. I have taken your code earlier and updated it my Abp.Zero and recompiled the dll and referenced them again in my test project. What am I doing wrong?

[2017-03-31 08:16] hikalkan commented on #165
OnModelCreating is DbContext's method (and it's EF's own class), not ABP's.

[2017-03-31 09:04] hikalkan commented on #333
duplicate of https://github.com/aspnetboilerplate/aspnetboilerplate/issues/1988

[2017-03-31 09:04] #333 closed

[2017-04-02 00:42] Craft24 opened #335 "when i search the problem in google,i find that the result point your forum"
when i search the problem in google,i find that the result point your forum,but if you are not logined,you will not see the result.I suggest sincerely that you can let it show openly,because i register it but i also can't login.

[2017-04-04 10:35] hikalkan commented on #335
Forum is open, you can read it without login normally. Can you send your username and the forum topic you want to see.

[2017-04-05 06:20] Craft24 commented on #335
It's ok,I can search it and see it today.My user name it's`KingSun`,If the forum can search directly,it will be more convenient for both of us.

[2017-04-05 07:42] hikalkan commented on #335
You can search on the forum:

![image](https://cloud.githubusercontent.com/assets/1210527/24694963/99deb89e-19ec-11e7-9c66-41915227213c.png)

[2017-04-05 14:34] Craft24 commented on #335
ok,i get it,thank you!It'a good job.It's an amazing framework.

[2017-04-05 14:34] #335 closed

[2017-04-06 08:08] jamesatgithub commented on #272
@hikalkan what should be the best practice to set default language for a site by configuration, I see this thread https://github.com/aspnetboilerplate/aspnetboilerplate/issues/692 and changed the setting value to 'zh-CN' but the site still used English as default, only works after I override the SetCurrentCulture in global.asax

[2017-04-06 12:12] hikalkan commented on #272
@jamesatgithub have you tried to set it in the database?

[2017-04-09 14:43] jamesatgithub commented on #272
@hikalkan yes I set that value in the AbpSettings table, I'll double check if this still an issue I'll report here

[2017-04-10 15:19] jfbaudracco opened #336 "AbpUserManager.IsGrantedAsync multiplies the queries in database"
Hi,

Since v1.5.1, AbpUserManager.IsGrantedAsync includes a supplementary test :

`//User not found
if (await FindByIdAsync(userId) == null)
{
return false;
}`

So, each permission test queries database.
Multiples IsGrantedAsync calls in a loop produce multiples queries that in this context are not required.
For example, GetMenuAsync produces multiples queries. The same, each GetScripts, on each p

[2017-04-10 18:03] hikalkan commented on #336
I agree with that and will consider as a high priority issue. Thanks.

[2017-04-11 07:05] maliming opened #337 "how to remove some of the attributes AbpUser?"
Such as: Name , Surname attribute.

[2017-04-11 07:08] hikalkan commented on #337
You can configure EF to ingore these properties (in onmodelcreating).

[2017-04-11 07:09] maliming commented on #337
thank you very much

[2017-04-11 16:42] coommark opened #338 "Question: Register a User Without Logging in as Admin"
I'm trying to register a new user on the .Net Core, MVC version. So I send this via Postman:

[code]
The object is  received in the Register method as expected, everything runs without throwing an error, but the user is not registered (stored in the DB).

However when I log in and use the user creation form this goes. Why is it so? How can I register a user via a WebAPI call?

[2017-04-11 18:23] hikalkan commented on #338
Do you see anything in logs?

[2017-04-12 08:20] coommark commented on #338
Hi @hikalkan , thank you always for the help. I created a different api controller, commented out the `[AbpAuthorize(PermissionNames.Pages_Users)]` on the `UserAppService` and I am back in the game, rolling like a rockstar. Thank you!

[2017-04-12 08:20] #338 closed

[2017-04-12 08:39] hikalkan commented on #338
But be carefull on that since you removed authorization completely. Instead, you could add [AbpAllowAnonymous] for your Register method only.

[2017-04-12 08:42] coommark commented on #338
Oh! Thank you for that. I will do that.

[2017-04-12 09:05] apchenjun opened #339 "AbpUser Custom problem"
In my project user data I need more fields and Surname FullName Phone Email these fields can be empty in abpuser class these fields cannot be empty how should I configure

[2017-04-12 10:33] #323 closed

[2017-04-12 10:33] #331 closed

[2017-04-12 10:43] #324 closed

[2017-04-12 13:13] rcyq commented on #307
Hi can I check if this feature will be included in v2.0 stable release?

[2017-04-12 13:25] #336 closed

[2017-04-12 13:27] hikalkan commented on #307
No. But we will look for Identity Server 4 integration just after 2.0 (.net standard) release. Identity Server 4 has already that mechanism.

[2017-04-13 08:35] hikalkan commented on #339
You can extend User class (just add new properties to your User class in your project).
You can also change mapping of existing properties using EF fluent mapping in onmodelcreating.

[2017-04-13 17:22] alexandrejose opened #340 "Diferences between Permission to RoleClaim"
Hi,
    I'm looking for IdentityServer branch and comparing Permission(Module zero) with RoleClaim(AspnetIdentityCore).

I saw that in AbpRoleStore now has methods for two models(Permission and RoleClaim), and for me both are to do the same thing, do you did this for maintain compatibility?

One more question is about IsGranted, in permission we have this concept and I didn't see in RoleClaim, do

[2017-04-13 18:19] hikalkan commented on #340
RoleClaim is a new entity came with Identity Core (was not included AspNet Identity 2.x). So, we had Permission system. RoleClaim can be thought as similar. But, in general, claims are less changeable and permissions are more changeable things.

See this great article about this discussion: https://leastprivilege.com/2016/12/16/identity-vs-permissions/

[2017-04-16 16:40] ltm0203 commented on #337
protected override void OnModelCreating(DbModelBuilder modelBuilder)
        {
            base.OnModelCreating(modelBuilder);
            modelBuilder.Entity<User>().Property(a => a.Name).IsOptional();
            modelBuilder.Entity<User>().Property(a => a.Name).HasMaxLength(35);
            modelBuilder.Entity<User>().Property(a => a.Surname).IsOptional();
            modelBuilder.Entity<User>(

[2017-04-16 16:45] ltm0203 commented on #337
我修改下配置信息,使用ignore来去除name
 protected override void OnModelCreating(DbModelBuilder modelBuilder)
        {
                base.OnModelCreating(modelBuilder);
            modelBuilder.Entity<User>().Ignore(a => a.Name);
            modelBuilder.Entity<User>().Ignore(a => a.Surname);
            modelBuilder.Entity<User>().Property(a => a.EmailAddress).IsOptional();

        }
![Paste_Image.png](http

[2017-04-17 05:45] hikalkan commented on #337
One more option is to override User properties and add attributes. But as I know, OnModelCreating must work normally.

[2017-04-17 06:02] maliming commented on #337
@hikalkan
override property add [NotMapped] attribute still does not work.

[2017-04-17 07:33] maliming commented on #337
@hikalkan

I found a solution [**Private new**]
[code]
this is okay!

[2017-04-17 08:15] ltm0203 commented on #337
@hikalkan
The above is my modified code
 `
 public class User : AbpUser<User>{

        private new string Name { get; set; }

        private new string Surname { get; set; }

        [Required(AllowEmptyStrings = true)]
        public override string EmailAddress { get; set; }
}
`

[2017-04-18 14:54] alexandrejose commented on #340
Thanks a lot, I understood.

[2017-04-18 14:54] #340 closed

[2017-04-18 15:49] thrillertom opened #342 "Support static and default permission"
As I know, Abp authorize with permissions, and host user and tenant user may have different permissions by default to make sure host users should not see tenant specific pages and vice verse.
So there may be always at least one permission for each multi-tenancy side, and user should not modifiy it(may be should not see it).
Abp supports default roles and assign them to the created user, but defaul

[2017-04-19 00:34] #337 closed

[2017-04-19 05:46] maliming commented on #337
Other options:
We can manually verify the entity before the property assignment (property is not in the database).
I do not know if this is the best practice, but in the database to remove some of the properties, VS IntelliSense also remind us that we no longer use these property.

[code]

[2017-04-19 06:44] hikalkan commented on #342
You suggest that we define default permissions for tenants and hosts then you will use these permissions in your application? What type permissions are they? Why don't you that in your application?

[2017-04-19 10:05] thrillertom commented on #342
I don't want some specific permissions, I want to define which permission is default.
Now in Abp, I can define my default roles in my application. When I create a user, the application can tell which roles are default, then roles can be assign to user by programming.
Just like roles, when I create a role, I may want to grant the role some permissions by default. But if I don't have a flag on permi

[2017-04-19 12:10] abou-emish commented on #342
I understand that you want to add a flag to permissions to set it as default, but default to which role ? you could have many roles and each role have it's own permissions...
You already have permissions hard coded, so in the place you seed system roles you will seed permissions for each of those roles.

[2017-04-19 12:37] thrillertom commented on #342
@abou-emish Yes, just like you said, there may be many roles and each role have it's own permissions. I think it's the same thing between users and roles, there may be many users and each user have his own roles, when I define a default role, I don't have to specify a user. When I create  a user, I find out default roles and assign them to the user, but I don't have to hard code role name. Does it

[2017-04-19 12:45] abou-emish commented on #342
Role is the top level of permissions, and role identity doesn't change from user to user, that's why you can set it as default or not, but permission is not top level and can be default to one role and not default to another role, your request doesn't need flag only, it needs also a flag and an array or roles which the permission is default for (and this will lead you to hard code roles names or I

[2017-04-19 13:51] thrillertom commented on #342
@abou-emish As I know we can just use permission to identity user, roles may not be necessary in Abp, isn't it? And you are right if I want to define a default permission for each role, so is it possible to define default permission by multi-tenancy sides, because when I create a role, I should decide a multi-tenancy side.
There is also a static permission question, when some permissions are grant

[2017-04-19 14:20] hikalkan commented on #342
Hi @thrillertom,

Let me explain why we created 'default role' concept: If you are creating user as admin, then you can easily select roles of this new user. But if you have a register form where users are registered themselves, then you have two options: 1) Don't assign any role. 2) Assign default role(s). We thought the second one is reasonable and created the default role concept.

For role-per

[2017-04-19 15:14] thrillertom commented on #342
@hikalkan Sorry, you are right, I forgot a user could have more than one roles. Although, it may be a little weird that all users should have such a default role and should not remove it. But It does work.
Thank you for your time and help @abou-emish @hikalkan

[2017-04-19 15:14] #342 closed

[2017-04-19 16:44] hikalkan commented on #342
Creating such a default role has such an advantage: You can then later add/remove a permission to that role. Otherwise, you must add the new permission to all roles when you want to define a new default permission.

[2017-04-20 01:50] thrillertom commented on #342
@hikalkan
Yes, you are right. It's easier to add a new default permission as you said.
Here is the scenario, I define these roles **Admin**, **Manager**  and **Member**, I have the member as the default role and assign it to all users, so every user should have this role, but a manager user and admin user may feel strange, because they are already managers or admins, why should they have to keep a

[2017-04-20 08:36] abou-emish commented on #342
You should share permissions among roles, and you don't have to keep user role for manager or admin, once you upgrade user to admin or manager you can remove user role, it's up to your system design. Abp is so flexible in this part :)

[2017-04-20 09:19] thrillertom commented on #342
@abou-emish yes, I want to share permissions among roles at first, I will try to complete it in my own application. Thank you for your help.

[2017-04-20 09:24] abou-emish commented on #342
Welcome :)

[2017-04-23 15:04] gabrielrobert opened #344 "LoginManager.LoginAsync throws error for 2.0.0"
As part of 1.5.2, I was using this code to login users:

[code]

However, for some reason this is not working anymore.

[code]

Any idea? I look at ABP code, and nothing seems wrong.

[2017-04-23 15:19] hikalkan commented on #344
You should normally check loginResult.Result property and SignIn only if it's succeed. Can you check it? If it's not succeed, User will be null which causes the exception.

[2017-04-23 18:42] gabrielrobert commented on #344
@hikalkan The exception is thrown in  `await _loginManager.LoginAsync(model.Username, model.Password, "")` method, I cannot access loginResult unfortunately.

[2017-04-24 00:32] acjh commented on #344
Your stack trace says it's thrown in `TestProject.Web.Controllers.AccountController.<SignInAsync>`.

[2017-04-24 08:13] Worthy7 commented on #311
The solution would be to have some kind of advanced PermissionChecker class custom for ones solution which would allow for any number of `CheckIfUserCan` type functions, which in turn would allow all services to do these kinds of checks nicely. It's outside the scope of ABP.

[2017-04-24 08:13] #311 closed

[2017-04-24 12:11] gabrielrobert commented on #344
@acjh You're right, sorry. However, the result is: `Abp.Authorization.AbpLoginResultType.InvalidUserNameOrEmailAddress`

I'm using the same user / password used before migration. Is there any configuration about username / password that I need to setup? I know my credentials are valid.

[2017-04-24 12:35] gabrielrobert commented on #344
Ok, I found it. This code was working with old version, because it was not checking any tenancy in the database:

`await _loginManager.LoginAsync(model.Username, model.Password, "")`

With 2.0.0, the generated SQL query is:

[code]
It's problematic, because it checks if "TenantId IS NULL".

@hikalkan  Is there any way to ignore tenancy in this request? I want to be able to login without the tenanc

[2017-04-24 13:42] acjh commented on #344
You need `tenancyName` because `UserName` is only [unique for a tenant by design](https://aspnetboilerplate.com/Pages/Documents/Zero/User-Management).

If you assume `UserName` is unique across tenants, you can do this:
[code]

[2017-04-24 19:00] #344 closed

[2017-04-25 08:21] Caskia opened #346 "upgrade to 2.0.1 meet cast error"
My project do not use multi-tenant, when upgrade to 2.0.1. I get a convert error message from JObject to TenantCacheItem

- version: 2.0.1
- error stack message
[code]

[2017-04-25 10:16] hikalkan commented on #346
Are you using rediscache?

[2017-04-26 01:33] Caskia commented on #346
Yes, I had found the reason. The abp version info participated in serialization, so when upgrade always can not serialize.

[2017-04-26 06:30] hikalkan commented on #346
Thank you for finding this. I will look if we can find a way.

[2017-04-26 06:43] hikalkan commented on #346
I added a passing unit test for versioning: https://github.com/aspnetboilerplate/aspnetboilerplate/blob/70499eb68b9468665a18020b266906c83b394638/test/Abp.Tests/Json/JsonSerializationHelper_Tests.cs#L23
I think your case is not about assembly versioning.

It's because TenantCacheItem class is move to Abp.Zero.Common assembly from Abp.Zero assembly.
So, the only way is to clear your cache.

[2017-04-26 06:43] #346 closed

[2017-04-26 14:51] robertosistemas opened #347 "support IdentityServer3 and IdentityServer4"
I wish module zero would support IdentityServer3 and IdentityServer4.
theses startekits implements it:
https://github.com/joeaudette/cloudscribe.StarterKits

[2017-04-26 14:55] hikalkan commented on #347
We will work on IdentityServer4, it's a high priority work next versions.

[2017-04-27 02:11] laozhuorun opened #349 "Return 401 Unauthorized from ASP.NET Core API"
After I upgrade my application to  Module-Zero 2.0.1，
i access every webapi (which need authorizeon) on swagger ui，
it  return  404  and  redirect to 'Accout/Login'（it was return 401 and message "The current user is not logged in" on 1.5.1）
eg：“http://localhost:22742/Account/Login?ReturnUrl=%2Fapi%2Fservices%2Fapp%2FCaching%2FClearCache”。
     i think this problem is cause by AspNetCore.Identity r

[2017-04-27 04:31] Louis730204 opened #350 "Update Project Template create page."
I've try to create a template from the templates page, but .Net MVC or .Net Core version are still reference to ver 1.5.

[2017-04-27 05:51] hikalkan commented on #350
Not published yet. Will be done probably today.

[2017-04-27 05:51] #350 closed

[2017-04-27 06:34] hikalkan commented on #349
Hi,

Actually, it's not replaced. Abp.Zero package still works with old AspNet.Identity.Core (v2.x) and we introduced a new package, Abp.ZeroCore which uses new Microsoft.AspNetCore.Identity 1.x.
So, if you just upgraded nuget packages, it should not be changed.

[2017-04-27 17:08] coommark opened #351 "Does not enforce unique username or unique email"
I am having a weird issue. I have been developing an application using ASP.NET Core Multipage template. For some time, user registration worked alright. Unique constrains on usernames and emails were enforced. However, this no longer works. I can create multiple users with exactly same usernames and emails.

Before this, the two major changes I made include:

1. Deleted migrations including the in

[2017-04-27 19:22] jmhinnen opened #352 "Increase size of AuditLog properties"
Small request, we have some methods that have very large parameters being passed.  Mainly around large complex orders in an ordering system.

Is there a reason that the following columns are limited?

Parameters
Exception
CustomData

Seems to me, other than this table already takes up a large amount of space, but for diagnosing issues, limiting those columns seems harsh.

On the flip side of that,

[2017-04-28 02:04] prom3theu5 opened #353 "Update from 1.5.2 to 2.0.2"
Hi
I'm using a module-zero starter template which is built with 1.5.2
Do you foresee any issues with updating all of ABP to 2.0.2 including module zero?
Are there any breaking changes?

Also - As another minor gripe I have - is there a simple way to disable logging the passwords in plain text in the AuditLog table for authentication requests?
Currently even successful authentication's (token and w

[2017-04-28 05:19] hikalkan commented on #353
There are a few minor breaking changes and you can easily understand it from compiler messages and fix them.

Use [DisableAuditing] for any attribute you want to hide: https://www.aspnetboilerplate.com/Pages/Documents/Audit-Logging#DocEnableDisableByAttrs

[2017-04-28 05:23] prom3theu5 commented on #353
Excellent - thanks a lot :)

[2017-04-28 05:23] #353 closed

[2017-04-28 06:31] rqx110 commented on #339
Reference #337

[2017-04-28 11:17] hikalkan commented on #352
Hi,

The only possibility is to replace IAuditingStore by your own implementation. You can see current code from here: https://github.com/aspnetboilerplate/module-zero/blob/dev/src/Abp.Zero.Common/Auditing/AuditingStore.cs and https://github.com/aspnetboilerplate/module-zero/blob/dev/src/Abp.Zero.Common/Auditing/AuditLog.cs

AuditLog.CreateFromAuditInfo truncates it. So, you should not use it in y

[2017-04-28 11:23] hikalkan commented on #351
These should not effect it. Are you using UserManager to create new users? If so, it always checks uniqueness (https://github.com/aspnetboilerplate/module-zero/blob/dev/src/Abp.Zero/Authorization/Users/AbpUserManager.cs#L106). You can create a demo on aspnetzero.com and try to create a user with same username with an existing user. I just tested and it works.

[2017-04-28 12:34] coommark commented on #351
That was totally my mistake. I [AbpAllowAnonymous] at User registration, but forgot to set the Tenancy. Did this: `CurrentUnitOfWork.SetTenantId(input.TenantId);` and now I am good.

@hikalkan But your response above was what helped me. After following the sample from your link, it still could not find the user. That was when I figured!

[2017-04-28 12:34] #351 closed

[2017-04-30 20:51] #329 closed

[2017-04-30 20:51] #321 closed

[2017-04-30 20:52] #322 closed

[2017-04-30 20:52] #308 closed

[2017-04-30 20:52] #234 closed

[2017-04-30 20:53] #239 closed

[2017-04-30 20:53] #242 closed

[2017-04-30 20:53] #219 closed

[2017-04-30 20:54] hikalkan commented on #226
Shall we close this?

[2017-04-30 20:54] #230 closed

[2017-04-30 20:55] #196 closed

[2017-04-30 20:55] #191 closed

[2017-04-30 20:55] #167 closed

[2017-04-30 20:56] hikalkan commented on #151
They are now in User entity, so you can directly check.

[2017-04-30 20:56] #151 closed

[2017-04-30 20:57] #207 closed

[2017-05-01 14:58] #352 closed

[2017-05-08 16:00] reberinformatik opened #355 "Localization of DuplicateUserName missing"
You renamed the localization entry Identity.DuplicateName to Identity.DuplicateUserName but forgot to update the AbpZero.xml:

https://github.com/aspnetboilerplate/module-zero/blob/6dd18867d9f519db1ea4b98e9d46b48b6642478b/src/Abp.Zero/Zero/Localization/SourceExt/AbpZero-de.xml#L11

This test fails:
[code]

[2017-05-08 17:56] #355 closed

[2017-05-08 17:57] hikalkan commented on #355
Thank you for reporting.

[2017-05-10 23:52] GutierrezDev opened #356 "Is there a way to use override module-zero internal Localization?"
Hi guys and thanks for the excellent framework.

Im trying to fix a problem I have.
When Im using my own Localization (in Core Layer) everthing is OK with the language template but properties that exist in module-zero I cant figure out how to override the values.
Example:
module-zero/src/Abp.Zero.Common/Zero/Localization/Source/AbpZero.xml is defined in module Zero but if I define those keys in my

[2017-05-11 06:17] hikalkan commented on #356
Yes: https://www.aspnetboilerplate.com/Pages/Documents/Localization#DocExtending

[2017-05-11 07:07] hikalkan opened #357 "AbpUserStore.FindByIdAsync should return null if can not find the user"
Currently it throws exception.

[2017-05-11 07:08] #357 closed

[2017-05-11 19:10] GutierrezDev commented on #356
Thanks so much Halil. I need to read the full documentation.

[2017-05-11 19:10] #356 closed

[2017-05-12 18:01] hikalkan opened #358 "IdentityServer4 integration package"

[2017-05-12 18:01] hikalkan commented on #347
Closing this for https://github.com/aspnetboilerplate/module-zero/issues/358

[2017-05-12 18:01] #347 closed

[2017-05-12 18:07] hikalkan commented on #307
Closing since we are integrating to https://github.com/aspnetboilerplate/module-zero/issues/358

[2017-05-12 18:07] #307 closed

[2017-05-12 20:20] #116 closed

[2017-05-12 20:21] #286 closed

[2017-05-12 20:21] #226 closed

[2017-05-12 20:22] hikalkan commented on #176
I think this is working fine.

[2017-05-12 20:22] #176 closed

[2017-05-14 12:25] hikalkan opened #359 "v2.2"

[2017-05-14 12:25] #359 closed

[2017-05-15 08:42] hikalkan opened #360 "Improve registration of ABP identity services"
Currently, the application must define UserManager, UserStore, RoleManager classes.
All can be optional. That makes depending on Abp.ZeroCore much easier.

[2017-05-15 10:15] hikalkan opened #361 "Remove TSecurityStampValidator from ServiceCollection.AddAbpIdentity extension method"
[code]

changed to

[code]

and added an extension method, can be used like:

[code]

[2017-05-17 00:11] rcyq opened #362 "Role Claims in AbpRole with incorrect foreign key"
I noticed that under AspZeroCore, the property "RoleClaims" in AbpRole is referencing UserId as foreign key

[code]

https://github.com/aspnetboilerplate/module-zero/blob/6dd18867d9f519db1ea4b98e9d46b48b6642478b/src/Abp.ZeroCore/Authorization/Roles/AbpRole.cs

[2017-05-17 05:53] hikalkan commented on #362
Thank you for informing. Fixed it.

[2017-05-17 05:53] #362 closed

[2017-05-17 06:05] #360 closed

[2017-05-17 06:08] #361 closed

[2017-05-18 12:00] ismcagdas commented on #274
Hi,

Tested and it seems like it is working as expected with the latest version of ABP.
If you think it is not working, please reopen this issue and send your project to us so we can test it.

Thanks.

[2017-05-18 12:00] #274 closed

[2017-05-19 05:52] hikalkan opened #364 "Add Sourcelink integration to be able to debug Abp packages"
see https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2133

[2017-05-19 05:53] #364 closed

[2017-05-19 06:09] ebicoglu commented on #352
From now on In AbpZeroDbContext you can override the properties below;
MaxServiceNameLength, MaxMethodNameLength, MaxParametersLength, MaxClientIpAddressLength, MaxClientNameLength, MaxBrowserInfoLength, MaxExceptionLength, MaxCustomDataLength

For your case; in DbContext you need to set MaxParametersLength, MaxExceptionLength and MaxCustomDataLength to a larger value than the default just before

[2017-05-19 12:22] jamesatgithub opened #365 "Apereo .NET CAS client integration"
I tried to integrate with the CAS .net client (https://github.com/apereo/dotnet-cas-client) for single-sign-on and have got the user principal from CAS server, e.g. HttpContext.Current.User.Identity.Name with the correct username from CAS server, but still got 403 on controllers with [AbpMvcAuthorize], any suggestion to get CAS working with Abp?

[2017-05-19 14:37] hikalkan commented on #365
I don't have an idea about CAS. If you want to know which claims are checked for IAbpSession, see ClaimsAbpSession: https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Runtime/Session/ClaimsAbpSession.cs

You can find claim types here: https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Runtime/Security/AbpClaimTypes.cs

If HttpContext.Current.User.Identity

[2017-05-20 02:29] jamesatgithub commented on #365
@hikalkan  Thanks for the clarification, very informative. I think I need to add the abp claims in CAS client CasPrincipal.cs constructor https://github.com/apereo/dotnet-cas-client/blob/master/DotNetCasClient/Security/CasPrincipal.cs#L214

I'm not sure if this is the best place to add the required abp claims since I need to add abp references to CAC client project, or it's better to add the claim

[2017-05-20 07:01] jamesatgithub commented on #365
@hikalkan I found this thread https://github.com/aspnetboilerplate/aspnetboilerplate/issues/1624 and replaced the IPricencipalAccessor in my Abp Web project

`Configuration.ReplaceService(typeof(Abp.Runtime.Session.IPrincipalAccessor), () => {
                IocManager.Register<Abp.Runtime.Session.IPrincipalAccessor, HttpContextCasPrincipalAccessor>(Abp.Dependency.DependencyLifeStyle.Transient);

[2017-05-20 18:19] hikalkan commented on #365
This is a good way. I suggest you do it like that. IPrincipalAccessor is an extension point for such customizations.

[2017-05-21 08:48] jamesatgithub commented on #365
Thanks @hikalkan it all works well now

[2017-05-21 08:48] #365 closed

[2017-05-22 12:26] jamesatgithub opened #367 "How to extend AbpPermissions to work with existing UserPermissionSetting and RolePermissionSetting?"
I want to add some custom fields in AbpPermissions, and have checked this thread https://github.com/aspnetboilerplate/module-zero/issues/168

Do I have to add classes inheriting UserPermissionSetting and RolePermissionSetting separately but with same custom fields in the new classes? and also override  UserStore/RoleStore methods to use the repository of the new classes?

[2017-05-23 14:28] hikalkan commented on #367
Hi,

What's the purpose of extending? Do you want to use new properties (fields) in the authorization process, or you just want to store some permission-related data in the same table.

[2017-05-24 02:06] jamesatgithub commented on #367
@hikalkan the requirement is to add some extended information on permission related data in AbpPermission table

[2017-05-24 16:26] Parbil opened #369 "Audit logging details"
Is it possible to store old value and new value of entity properties and how it can be done...

[2017-05-24 18:27] hikalkan commented on #369
Duplicate: https://github.com/aspnetboilerplate/aspnetboilerplate/issues/447

[2017-05-24 18:27] #369 closed

[2017-05-26 14:16] #332 closed

[2017-05-26 14:59] apchenjun opened #370 "use abp zero Development project has performance problem"
After develop several MPA webp projects, there are a few performance issues
The  page opens very slowly
The pop-up box loads the page very slowly

[2017-05-26 15:03] hikalkan commented on #370
Hi,

Thank you for such a feedback. But "page is very slow" is too generic problem. Why do you think it's because of the framework. Do you have metrics that show it?

[2017-05-28 16:06] #358 closed

[2017-05-29 04:03] hikalkan opened #371 "AbpUser.SetNormalizedNames must set from UserName, not from AdminUserName!"

[2017-05-29 04:04] #371 closed

[2017-05-29 06:06] hikalkan commented on #367
This table is maintained (entities are created/updated/deleted) internally by the framework. I suggest you to create another entity to store your extra data and create a FK releation.

[2017-05-29 12:02] jamesatgithub commented on #367
ok thanks

[2017-05-29 12:02] #367 closed

[2017-05-30 04:54] #306 closed

[2017-05-31 02:33] ismcagdas opened #372 "Add IsActive to LanguageInfo"
This will allow enable / disable languages.

[2017-05-31 07:25] ShiWei-L opened #373 "Why is the username may only letters and Numbers"
When I want to register an account, I want to use Chinese characters as a user name, but prompt microsft. Identity. Invaliderror, how should I do?

[2017-05-31 07:31] hikalkan commented on #373
This is default behaviour of ASP.NET Identity. You can change it in the constructor of your UserManager class like:

[code]

[2017-05-31 07:47] ShiWei-L commented on #373
Thank you very much

[2017-05-31 07:47] #373 closed

[2017-06-06 05:33] parallelbgls opened #376 "How to use UserManager in Console Application"
I have to use UserManager and RoleManager to add Users and Roles in .net core console application. How to resolve them from IocManager? I can't resolve it directly or using service builder.

[2017-06-06 06:41] wocar commented on #376
You have to bootstrap the app correctly, then add Abp.Zero and create the
respective derived classes
El El mar, 6 de junio de 2017 a la(s) 12:34 a.m., Chris L.(Luo Sheng) <
notifications@github.com> escribió:

[2017-06-06 06:47] parallelbgls commented on #376
Castle.MicroKernel.Handlers.HandlerException:“Can't create component 'XXX.Authorization.Users.UserManager' as it has dependencies to be satisfied.

'XXX.Authorization.Users.UserManager' is waiting for the following dependencies:

- Service 'XXXl.Authorization.Roles.RoleManager' which was registered but is also waiting for dependencies.

'XXX.Authorization.Roles.RoleManager' is waiting for the foll

[2017-06-06 10:14] parallelbgls commented on #376
Alright, I think I found the problem. I'm using 2.1.0-rc1 and all repositories are not loaded.

[2017-06-06 10:22] hikalkan commented on #376
You probably haven't used AddAbpIdentity from the console application. module-zero-core-template includes IdentityRegistrar for it (https://github.com/aspnetboilerplate/module-zero-core-template/blob/master/aspnet-core/src/AbpCompanyName.AbpProjectName.Core/Identity/IdentityRegistrar.cs) which is called by Startup class inside the web application.

For console, it may be a bit tricky because you c

[2017-06-06 21:02] gabrielrobert opened #377 "Migrate Abp.Zero to Abp.ZeroCore"
Hi,

Is it feasible to migrate an existing project from `Abp.Zero` to `Abp.ZeroCore` ? Implying:

1. Existing entries in `AbpUser` table.
2. Existing login/logout and registration.
3. Still targeting full framework.

I need to implements `IdentityServer` in my application and Abp did not supported IdentityServer3 for old `Microsoft.AspNet.Identity`, i'm looking forward an upgrade to go `Microsoft.

[2017-06-06 22:30] parallelbgls commented on #376
Ah, So Castle Windsor has a extend function that can inject service. I just thought that abp has one and could not find it. Thanks.

[2017-06-07 02:37] hikalkan commented on #376
ServiceCollection is Microsoft's new DI registration way and independent from Castle and Abp. Services should register via ServiceCollection should be manually registered before initialze Abp like that. ``WindsorRegistrationHelper`` is an adapter for ServiceCollection and WindsorContainer.

[2017-06-07 02:47] hikalkan commented on #377
Hi,

We actually did the same thing, moving from Abp.Zero to Abp.ZeroCore. It takes time but surely possible.
Database has not much change:

![image](https://user-images.githubusercontent.com/1210527/26860064-907b3122-4b44-11e7-8bd4-cdb31a78ea9e.png)

You can take the latest module zero core template as a reference and implement it yourself if you see that it has a value for your project.

[2017-06-07 03:20] parallelbgls commented on #376
There is another problem here.

The instance of entity type 'User' cannot be tracked because another instance of this type with the same key is already being tracked. When adding new entities, for most key types a unique temporary key value will be created if no key is set (i.e. if the key property is assigned the default value for its type). If you are explicitly setting key values for new entiti

[2017-06-07 09:38] parallelbgls commented on #376
I also found that any time when the I want to update User in dbcontext, this bug will be thrown.
I'm using ZeroCore.IdentityServer4 rc1.

[2017-06-07 09:43] coommark opened #378 "Register A User and AddToRolesAsync()"
I am trying to register a new user and add the user to a set of roles. The problem however, is that the user is not added to the database until after the Register action method has exited.

Here is what I have tried in the `UserAppService`:

[code]

The problem is returnedUser is always null because the user only gets inserted after the everything has exited. How can I force the user to be inserte

[2017-06-07 11:32] acjh commented on #378
Try `await CurrentUnitOfWork.SaveChangesAsync();` after `CreateAsync`

[2017-06-07 12:06] coommark commented on #378
Thank you @acjh This works perfect.

[2017-06-07 12:06] #378 closed

[2017-06-07 13:39] gabrielrobert commented on #377
Great, thank you @hikalkan. I will use https://github.com/aspnetboilerplate/module-zero-core-template as reference 👍

[2017-06-07 13:39] #377 closed

[2017-06-07 14:32] hikalkan commented on #377
Comping a new version of this template: https://twitter.com/aspboilerplate/status/871350397478342656 :) Will be released in 1-2 days.

[2017-06-07 15:01] hikalkan commented on #376
Hi,

unitOfWorkManager.Begin() does nothing if this code is already inside a UOW. If you want to start an independent, inner UOW, you can use unitOfWorkManager.Begin(TransactionScopeOption.RequiresNew).

However, your code seems a bit odd. I suppose because it's just a test code. If you need, I can create an empty console application in the module-zero-core-template when I've time.

[2017-06-07 15:33] gabrielrobert commented on #377
@hikalkan For your info, it took me 1h58 to migrate to `Abp.ZeroCore`.

I thought it was going to be worse. Let's say I had bad experiences with older versions of Microsoft.Identity 😄

Have a nice day, keep up the good work!

[2017-06-07 15:39] hikalkan commented on #377
Thats very good. Thank you for the feeback.

[2017-06-07 19:45] #372 closed

[2017-06-07 19:45] hikalkan opened #379 "Upgrade to ABP v2.1"
Waiting for ABP v2.1 release.

[2017-06-08 02:37] parallelbgls commented on #376
That's not only happen in console application but happens everywhere in my project.

For example when I login in IdentityServer. It throws a similar exception.

`
Abp.Domain.Uow.AbpDbConcurrencyException: Database operation expected to affect 1 row(s) but actually affected 0 row(s). Data may have been modified or deleted since entities were loaded. See http://go.microsoft.com/fwlink/?LinkId=527962

[2017-06-08 04:12] #379 closed

[2017-06-08 04:14] hikalkan opened #380 "Remove Tenant generic argument from PermissionChecker"
To fix it for existing applications, remove Tenant argument from PermissionChecker derived class:

Old version:

[code]

New version:

[code]

[2017-06-08 04:22] #380 closed

[2017-06-08 06:21] cuibty commented on #347
IdentityServer3 supported?

[2017-06-08 06:25] hikalkan commented on #347
No, only for AspNet Core & Identity Server 4 implemented. We don't think to work on IdentityServer3.

[2017-06-08 06:29] cuibty commented on #347
tks!

[2017-06-08 07:16] hikalkan opened #381 "Upgrade to Abp v2.1.1"
And implement change for https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2202

[2017-06-08 07:20] #381 closed

[2017-06-08 16:28] hikalkan commented on #376
Just released v2.1.1.
We'll document IdentityServer4 document in a short time.

[2017-06-12 15:19] coommark opened #382 "Roles List in accessToken"
I am working on a single sign on application that authenticates many other applications using a common database. My question is, how can I add roles to the accessToken and return it to the caller?

Currently when I decode my accessToken using [https://jwt.io/](https://jwt.io/), the payload is like this:

[code]

Thank you.

[2017-06-12 15:55] hikalkan commented on #382
Are you using new [Identity Server integration](https://aspnetboilerplate.com/Pages/Documents/Zero/Identity-Server)?

[2017-06-12 16:16] coommark commented on #382
No I don't think so. This is my Web.MVC Startup class is like this:

[code]

So I guess not. I'm using Abp 1.5.1

Thank you

[2017-06-12 16:36] hikalkan commented on #382
So, are you using TokenAuthController (https://github.com/aspnetboilerplate/module-zero-core-template/blob/master/aspnet-core/src/AbpCompanyName.AbpProjectName.Web.Core/Controllers/TokenAuthController.cs) to generate tokens. If so, you can change here: https://github.com/aspnetboilerplate/module-zero-core-template/blob/master/aspnet-core/src/AbpCompanyName.AbpProjectName.Web.Core/Controllers/Token

[2017-06-13 03:42] parallelbgls commented on #376
Alright, finally I lock the problem. I will open another issue.

[2017-06-13 03:42] #376 closed

[2017-06-13 07:29] coommark commented on #382
Thank you. I initially thought so but wanted to verify. I have it working now thanks lots.

[2017-06-13 07:30] #382 closed

[2017-06-13 22:40] romkij opened #383 "Property 'countTo' and 'sparkline' does not exist on type 'JQuery'"

[2017-06-13 22:46] #383 closed

[2017-06-15 16:24] gabrielrobert opened #385 "InvalidToken - ConfirmEmailAsync"
Consider the following:

`UserManager.cs`
[code]

Then:
`SomeController.cs`
[code]

I tried this to be sure:
`await _userManager.ConfirmEmailAsync(user, user.EmailConfirmationCode);`

Any idea?

I'm using latest ABP (2.1) with Microsoft.AspNetCore.Identity.

[2017-06-15 17:33] gabrielrobert commented on #385
I also tried to use this:

[code]

No success.

[2017-06-15 17:47] acjh commented on #385
Does this not work?

[code]

[2017-06-15 17:49] gabrielrobert commented on #385
@acjh Unfortunately, no as stated [here](https://github.com/aspnetboilerplate/module-zero/issues/385#issuecomment-308814242)

[2017-06-15 18:24] acjh commented on #385
Your comment doesn't say if you do
[code]
or
[code]
The latter works; the former doesn't.

[2017-06-15 18:26] gabrielrobert commented on #385
@acjh It's done in two step. First one, user is created with an token. Then the user need to open the email containing the token and click the link.

Yes, the confirmation token is set in the database.

[2017-06-15 18:32] acjh commented on #385
How did you generate the link - using `Url.Action`, `UriBuilder`, `StringBuilder` or manually?

[2017-06-15 18:41] gabrielrobert commented on #385
@acjh Manually.

[code]

But this is not the problem, because I get the email confirmation code directly from the entity. When I will be able to confirm a mail, then I will use my custom generated link.

[2017-06-15 18:49] acjh commented on #385
Did you try doing
[code]
before
[code]
and then
[code]
as stated [here](https://github.com/aspnetboilerplate/module-zero/issues/385#issuecomment-308827468)?

[2017-06-15 19:04] gabrielrobert commented on #385
Yes, and it doesn't work. I also have a function that "resend email confirmation email". It does:

[code]

[2017-06-16 03:25] WtbtBD commented on #292
I have a solution，but Is not very good，My each `Map`，Add `ApplyFilter<TFilter>() ` Again，this feature is work。I don‘t know why？Please don't mind my bad English.

[2017-06-16 07:02] hikalkan opened #386 "Upgrade to ABP v2.1.3."

[2017-06-16 07:15] #386 closed

[2017-06-16 14:44] gabrielrobert commented on #385
For some reasons, `ConfirmEmail` started working again when I removed this line:

`user.EmailConfirmationCode = emailConfirmationToken;`

The good flow is:

[code]

[2017-06-16 14:44] #385 closed

[2017-06-16 15:40] GutierrezDev opened #387 "Use ABP (with Module-Zero) as a Authorization Server"
Hi guys. I have been searching for a way of doing some integration between existing projects and ABP functionalities.
All the samples that I see have module-zero inside but what I need is something like this:

ProjectA: Security Manager
*This one implement everyting module-zero offers: Users, Roles, Permission Check, etc.
*Also Login, User registration, etc.

Project B,
*Project without module-zer

[2017-06-16 23:51] wocar commented on #387
Yes, you can integrate identityserver3 and use oauth it is possible to do
this, I've done it.
El El vie, 16 de junio de 2017 a la(s) 10:40 a.m., Ramon Gutierrez <
notifications@github.com> escribió:

[2017-06-17 00:00] GutierrezDev commented on #387
Thanks for replying.
Do you have an example?

[2017-06-17 15:28] hikalkan commented on #387
If you are using asp.net core then we have an integration with identity server 4 (https://aspnetboilerplate.com/Pages/Documents/Zero/Identity-Server).

[2017-06-17 21:51] GutierrezDev commented on #387
Thanks @hikalkan.
I dont have problem using the asp.net core version but my intention is to use multiple applications with one set of user accounts.
So in ProjectA I manage users, tenants, roles, permissions, etc.
And in other projects (that have its own database and don't have Users table) I log in with the users created in ProjectA.

[2017-06-18 08:40] hikalkan commented on #387
Identity Server 4 is for that: You can use one of the applications (say "main" app) as user source and make other applications login with the main application. But permissions can not be stored in the main app because every application know their own permissions (I think this should be expected). And also, other applications will have Users tables but those tables will just used to store user info

[2017-06-19 03:11] GutierrezDev commented on #387
Thanks again with your support.
"But permissions can not be stored in the main app because every application know their own permissions (I think this should be expected)" The problem doing this way for what I want to do is that even I have every application having its own permissions, managing would be too difficult if I don't have it in a centric application.
But I think we can make this work doi

[2017-06-19 04:19] wocar commented on #387
Identity server is an identity server not a permission server. I think each
app/service should manage permissions in its own way otherwise it would be
a nightmare to centrally manage te permissions based on roles/claims.

I'm still in the process of figuring out, if this is the best approach

El El dom, 18 de junio de 2017 a la(s) 10:12 p.m., Ramon Gutierrez <
notifications@github.com> escribió:

[2017-06-19 14:04] GutierrezDev commented on #387
@wocar I agree.
I was doing some research and found a demo of something what I want:
https://github.com/codingfreak/blogsamples/tree/master/AspNetIdentity
It implements asp.net identity as a service.
Hope to verify if this can satisfy my need. Thanks again.

[2017-06-19 14:47] wocar commented on #387
Identity server and Module Zero are already based on this framework! If you
already have a user table just run identityserver pointing to your existing
database and it should work. However in my case because there is not
identityserver3 nuget and I'm not using net core I had to setup all the
registrations manually but now, it's working.
El El lun, 19 de junio de 2017 a la(s) 9:04 a.m., Ramon Gutie

[2017-06-19 15:52] hikalkan commented on #387
In addition;

ABP and module-zero has good extension points. Example;

* [IPermissionChecker](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Authorization/IPermissionChecker.cs) is the main extension point that you can check if a user has granted for a permission. You can replace this by your own implementation to check permissions from any source. Module-zero [implements]

[2017-06-19 18:03] GutierrezDev commented on #387
Wow thanks again for the support you give to us.
I was thinking in using another dbContext that have the user information and permissions. i will check how to override the default behavior.

[2017-06-19 18:27] wocar commented on #387
Use oauth in conjunction with identityserver!! You will not regret that.
And regarding permissions, te approach I am using is very basic. I use the
settings manager for permissions and I wire it up using pernissionchecker
El El lun, 19 de junio de 2017 a la(s) 1:03 p.m., Ramon Gutierrez <
notifications@github.com> escribió:

[2017-06-19 19:40] GutierrezDev commented on #387
@wocar Do you have a repo with that integration?

[2017-06-20 13:29] ghost opened #388 "Table Not Exists"
1- In Abp.Authorization.Roles :
[Table("AbpRoleClaims")]
    public class RoleClaim : CreationAuditedEntity<long>, IMayHaveTenant .....

But table not exists.

2- In Abp.Authorization.Users:
[Table("AbpUserTokens")]
    public class UserToken : Entity<long>, IMayHaveTenant

but table not exists.

3- In Abp.IdentityServer4:
[Table("AbpPersistedGrants")]
    public class PersistedGrantEntity : Entit

[2017-06-20 13:58] acjh commented on #388
Did you add DbSet properties in your DbContext?

[2017-06-20 15:38] hikalkan commented on #388
These are in Abp.ZeroCore package (this is for ASP.NET Core Identity 1.x). If you are usin Abp.Zero package (this is for ASP.NET Identity 2.x) then these entities are not available for you.

[2017-06-22 03:06] maliming opened #389 "learning abp permission source code"
[code]
IsGrantedAsync method has [UnitOfWork], Its internal should have uow, why check CurrentUnitOfWorkProvider and CurrentUnitOfWorkProvider.Current?

[2017-06-22 04:00] hikalkan commented on #389
I suppose we check ``CurrentUnitOfWorkProvider == null || CurrentUnitOfWorkProvider.Current == null`` because CurrentUnitOfWorkProvider is property injected. But in pratical if will never be null because of [UnitOfWork] attribute.

[2017-06-22 05:00] #389 closed

[2017-06-22 10:14] laozhuorun opened #390 "MemoryCache disposed exception"
use module-zero in .net core 1.1

here is exception detail：

ERROR 2017-06-22 14:27:33,118 [4    ] Mvc.ExceptionHandling.AbpExceptionFilter - Cannot access a disposed object.
Object name: 'Microsoft.Extensions.Caching.Memory.MemoryCache'.
System.ObjectDisposedException: Cannot access a disposed object.
Object name: 'Microsoft.Extensions.Caching.Memory.MemoryCache'.
   at Microsoft.Extensions.Cachi

[2017-06-22 10:32] laozhuorun commented on #390
DEBUG 2017-06-22 14:27:33,124 [4    ] ore.Mvc.Internal.ControllerActionInvoker - Request was short circuited at exception filter 'Abp.AspNetCore.Mvc.ExceptionHandling.AbpExceptionFilter'.
DEBUG 2017-06-22 14:27:33,124 [4    ] etCore.Mvc.Internal.ObjectResultExecutor - No information found on request to perform content negotiation.
DEBUG 2017-06-22 14:27:33,124 [4    ] etCore.Mvc.Internal.ObjectRes

[2017-06-22 10:34] laozhuorun commented on #390
when access api ：AbpUserConfigurationController/GetAll，and cookies exist item “Abp.TenantId” value  is 1

[2017-06-22 19:11] hikalkan commented on #390
Is that always happening or just one time?

[2017-06-23 02:35] laozhuorun commented on #390
always happening on Application run  for a while

[2017-06-23 02:38] hikalkan commented on #390
Did you make any change? For instance, have you upgraded Abp package version? If so, what was old version and current version?

[2017-06-23 02:39] laozhuorun commented on #390
the version i use is 2.0.2

[2017-06-23 08:14] tom177y commented on #372
Hi Ismail,

To double confirm on this enhancement, it allows administrator to set the list of 'active' languages and therefore, restricting the list of languages the users are able to select as their preferred language in the languages dropdown list?

Thanks.
/Tommy

[2017-06-23 08:32] hikalkan commented on #372
It's for that. But "filtering inactive languages to create language selection list" is application's responsibility like:

var activeLanguages = languageManager.GetLanguages().Where(l => !l.IsDisabled).ToList();

[2017-06-24 03:47] tom177y commented on #372
Hi Halil,

Thanks for prompt response.  I would also like to confirm if the following behavior is part of the enhancement where "once a user selected a preferred language, the system will always show that specific language regardless of which device used to logged in or cookies or user session".

To understanding, aspnetzero will show the user selected language after logged out and in again but it

[2017-06-26 11:19] #261 closed

[2017-06-27 15:03] lamuertepeluda opened #391 "Enhancement request: CORS configuration"
Hi there,

could you do something to make CORS configuration easier, e.g. like [this nice Express JS middleware](https://github.com/expressjs/cors#configuration-options)?

It's a feature we miss a lot and causes much pain each time we want to make a SPA which is hosted somewhere else from our ASP.NET Zero backend (especially when developing) due to the diffculty of implementing a reflect origing o

[2017-06-28 04:35] hikalkan commented on #391
Hi,

I believe this should be a part of ASP.NET framework. You can create a feature/enhancement request to https://github.com/aspnet/Security/issues/new

[2017-06-28 04:48] hikalkan opened #392 "ChangeAbpTablePrefix need to add SetTableName for UserToken"
see https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2259

[2017-06-28 06:28] #392 closed

[2017-06-28 08:00] lamuertepeluda commented on #391
Hi,

I think it's not impossible to do this kind of whitelisting using pure ASP.NET framework.
My point is if ASP.NET Zero could ship with a simpler configuration or a middleware for doing this task, e.g. as simple as the above mentioned middleware for Express JS, as added value for this framework.

References:

* https://stackoverflow.com/questions/17323350/access-control-allow-origin-with-multip

[2017-06-28 08:12] hikalkan commented on #391
This can also be an independent open source library. Anyway, I added this to backlog to evaluate for future versions. Thanks.

[2017-06-28 09:35] falps opened #394 "Migration problem with MySQL"
Hi I'm attempting to use the latest Migrator to create some new MySQL migrations .I have a project EFcore+Jquery+netcore  (just downloaded today).Have all the necessary MySQL dependencies, connection string and DbContextConfigurer wired.
Builds fine. But...
I get the following when attempting a run after cleaning all of my EntityFramework migrations:
System.InvalidOperationException: The entity ty

[2017-06-28 18:50] hikalkan opened #395 "Make UserOrganizationUnit soft delete"

[2017-06-29 07:11] #395 closed

[2017-06-30 04:24] Worthy7 opened #397 "CalculateNextTryTime()"
Can you make it not protected, so we can implement from BackgroundJobInfo

[2017-06-30 05:09] hikalkan commented on #397
Can you move this to https://github.com/aspnetboilerplate/aspnetboilerplate so we can make it public in the next version.

[2017-06-30 05:09] #397 closed

[2017-07-05 14:33] ebicoglu opened #400 "Angular - format arguments not being passed to localization shortcut "l""
In AppComponentBase localization shortcut l method doesn't send parameter args to ls method.

[2017-07-05 14:41] #400 closed

[2017-07-05 14:41] ebicoglu commented on #400
moved to aspnet zero

[2017-07-10 09:11] Noushida opened #401 "aspnetboilerplate - User Session in web api using token based authentication"
In normal web api,   I am getting user info and ClaimsIdentity using custom authorization filter   by header authorization token,
 string token = filterContext.Request.Headers.GetValues("Authorization").First();
                    var accessToken = token.Replace("Bearer ", "");
                    var userInfoClient = new UserInfoClient(new Uri(Constants.UserInfoEndpoint), accessToken);

[2017-07-11 04:25] viewtance commented on #288
This issue still not be resolved?
Performance issue should be assigned to the high priority, customers already complained our project which developed based on ZERO performance is slowly.

[2017-07-11 05:02] Noushida opened #402 "How to get Application services in Custom Authorization Attribute in web api"
How to get Application services in Custom Authorization Attribute in web api?

[2017-07-11 06:22] ismcagdas commented on #401
Have you tried injecting AbpSession and use it's properties ?

[2017-07-11 07:30] ismcagdas commented on #288
Hi @viewtance,

We will work on this problem for 2.2 release in this week or next week.

[2017-07-11 07:32] ismcagdas commented on #402
Hi @Noushida, can you explain your case a little bir more ? I couldn't understand it.

Thanks.

[2017-07-11 10:22] Noushida commented on #402
Hi
Thank You For response.
I resolved this issue just now. Actually I want to call logInManager.LoginAsync in OnAuthrization method in authorization filter attribute for a normal webapi.I got it by using IIocResolver.

[2017-07-11 10:34] Worthy7 opened #403 "Oracle Migration Languages.IsDisabled"
/// <summary>
--
  | /// Is this language active. Inactive languages are not get by <see cref="IApplicationLanguageManager"/>.
  | /// </summary>
  | public bool IsDisabled { get; set; }

The new IsDisabled property breaks migrations on oracle.
Oracle doesn't accept new columns which are Non-Null unless the table is empty.

[2017-07-12 10:54] ismcagdas commented on #402
Great @Noushida

[2017-07-12 10:54] #402 closed

[2017-07-12 13:29] Noushida opened #404 "Authenticate token from identity server"
Hi

I am getting a token from identity server for normal web api. How can I authenticate and add authentication filter in Web Api Module.

[2017-07-14 07:13] hikalkan commented on #403
Isn't it work if you change migration code and make it nullable? Then update existing rows to false.

[2017-07-15 20:28] hikalkan commented on #390
Have you solved this issue? Can you repeat it with a fresh new startup template?

[2017-07-18 00:14] Worthy7 commented on #403
Your right, this was my solution. I was hoping that something could be done with "defaultvalue" in EF, but it only exists in EF core and apparently isn't detected by the oracle provider anyway. So it looks like nothing can be done for now. But having a default value set in Abp may prepare it for the future if/when Oracle do update their provider driver.

https://docs.microsoft.com/en-us/ef/core/mo

[2017-07-18 06:03] hikalkan commented on #403
Default value normally become 'false' for booleans when we don't define it for a non nullable field. But I haven't tried with Oracle.

[2017-07-18 08:20] Worthy7 commented on #403
Hmm, ok. I guess it's up to oracle.

[2017-07-18 08:20] #403 closed

[2017-07-18 14:15] hikalkan opened #405 "Check two factor provider settings on UserManager.GetValidTwoFactorProvidersAsync"

[2017-07-18 14:15] #405 closed

[2017-07-19 13:44] jawadSharif opened #406 "Issue while using AbpUserManager<Role, User>to set roles for user related to #269"
Hi Halil,
i have read the duplicate issue there but that answer does not fit my situation [https://github.com/aspnetboilerplate/module-zero/issues/269](url)
i am using it in ASPnetZero and encountering same problem
in my case i'm using it in user app service and then getting this error.
i am unable to figure out if the lazy loading is enabled or not because i never disabled it myself,
and as its i

[2017-07-20 02:56] nikons5456 opened #407 "use Mysql in ABP Someting error occured in the package manage console"
I want to use Mysql instead of Sql serser in ABP but when I Update -Database in the package manage console got the error Incorrect usage of spatial/fulltext/hash index and explicit index orderSo can anybody Help me？

[2017-07-20 06:21] ismcagdas commented on #407
If you are using one of ABP templates, it's migration files are created for SQL Server.
So, just delete all migration files and use "Add-Migration" command to regenerate migrations for MySql.

[2017-07-20 08:00] nikons5456 commented on #407
But I still have the problem

[2017-07-20 08:19] ismcagdas commented on #407
1. Do you use one of ABP templates ?
2. Does this happens out of the box or after you made some changes to project ?

[2017-07-20 08:26] ismcagdas commented on #394
See https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2267#issuecomment-312299633

[2017-07-20 09:07] hikalkan commented on #406
Are you using EF core or EF 6.x? Can you share your stacktrace and ABP version.

[2017-07-21 01:36] nikons5456 commented on #407
Of course ! I download it from ![](https://aspnetboilerplate.com), In order to use Mysql,I changed the connectionString in web.config,Which just like this
`  <connectionStrings>
    <add name="Default" connectionString="Server=localhost; Database=MyWeb;port=3306; uid=root;password=123456" providerName="System.Data.SqlClient" />
  </connectionStrings>`
and I've installed the Nuget package named"MyS

[2017-07-21 12:39] jawadSharif commented on #406
thanks for your reply
i am using EF6.x and following is the stacktrace as required

at System.Linq.Enumerable.ToList[TSource](IEnumerable`1 source)
at Abp.Authorization.Users.AbpUserManager`3.d__67.MoveNext() in
D:\Halil\GitHub\module-zero\src\Abp.Zero\Authorization\Users\AbpUserManager.cs:line
631 --- End of stack trace from previous location where exception was
thrown
--- at System.Runtime.Compi

[2017-07-21 12:54] hikalkan commented on #406
Just try to call user.Roles.ToList() yourself in your application service method. And be sure that CurrentUnitOfWork is not null.

[2017-07-22 14:29] jawadSharif commented on #406
yes i already tried with that user.Roles.ToList() and gives me same
exception.
and yes current unit of work is null i dont know why

*Best Regards*

*Jawad Sharif*

Software Solution Provider
& Co-Founder

*BStreams Solutions*Contact: +92(322) 4439 221
URL: www.BStreamsSolutions.com

Note: This email will be considered as accepted and agreed upon if no reply
is received within 3 business days

On

[2017-07-22 14:39] acjh commented on #406
Is your method `public virtual`?

[2017-07-24 11:07] hikalkan commented on #406
If this is an application service and you are using it via class reference, then you may need to make your method virtual (and add [UnitOfWork] attribute if necessary).

[2017-07-28 17:24] abou-emish opened #408 "There is no tenant with given id: 1"
I get error "There is no tenant with given id: 1"
If Multi-tenancy is disabled why we need a Tenant with Id = 1 in the database ?

[2017-07-28 17:58] #408 closed

[2017-08-04 06:44] jandic opened #409 "Add navigation properties to all entities"
Hi,

most tables in database created by ABP framework does not contains foreign keys. This is due to missing navigation properties on most tables. It would be useful to add these navigation properties where missing to ensure integrity at database level.

Thanks,
Pavel

[2017-08-04 07:11] hikalkan commented on #409
We don't want to add navigation properties for all foreign keys. Two reasons here:

1. Aggregate pattern says that an Aggrate should only reference to other Aggreate by Id. We haven't implemented that perfectly, but don't want to violate it totally.
2. Adding navigation propert for User, Role and Tenant to an entity (say, Permission) requires to make given entity generic, because User, Role and Te

[2017-08-04 08:11] #394 closed

[2017-08-04 08:11] falps commented on #394
Thank you

[2017-08-04 09:00] Zesulile commented on #380
Thank you @hikalkan , now it gives me this error " Required permissions are not granted. At least one of these permissions must be granted: Tenants "

[2017-08-04 09:28] hikalkan commented on #380
It's not related to this issue probably. Are you sure that you have the given permission.

[2017-08-04 15:37] diogodamiani opened #410 "IdentityServer4 integration - Operational Store"
Hi @hikalkan,

Is there any plan to include services for IS4 Clients and Resources management in Module Zero?

Best regards.

[2017-08-04 18:50] hikalkan commented on #410
We want that but could not share a time to analyse it yet.

[2017-08-05 07:08] Zesulile commented on #380
Yes I do have given permissions

[2017-08-08 02:27] rcyq commented on #154
This issue seems to be completed? See [AbpUserStore.cs](https://github.com/aspnetboilerplate/module-zero/blob/master/src/Abp.ZeroCore/Authorization/Users/AbpUserStore.cs)

[2017-08-08 05:09] hikalkan commented on #154
Yes, it's done for Identity Core (Abp.ZeroCore). Let this issue remain open, maybe it's implemented for Identity 2.x too :)

[2017-08-16 15:59] jamesatgithub commented on #272
@hikalkan it works. I read this doc https://aspnetboilerplate.com/Pages/Documents/Localization again and realized it could the cookie of the old language preference is overriding the database setting, after clearing cookie and the default language by setting works

[2017-08-17 07:28] #272 closed

[2017-08-22 06:11] toyysky opened #411 "css/style.css error"
When I was in the controller layer to invoke the service method, the interceptor will first call the Valid method, then an AbpValidationException is thrown, view will jump to the Error.cshtml page, but will find the dead cycle main card UI “Please wait...  ", that is caused by the css/style.css file, you can delete this file normal, why? Thank you

[2017-08-22 06:17] toyysky commented on #411
The version is up to date

[2017-08-22 23:16] diogodamiani opened #412 "Why moving module-zero to abp?"
Hi,
Why move module-zero to abp? I'm just curious to know.

Cheers

[2017-08-23 05:18] hikalkan commented on #412
For faster development & deployment. Nothing changes for developers.

[2017-08-23 05:39] ismcagdas commented on #411
Hi @toyysky , which template do you use ?

[2017-08-23 05:42] toyysky commented on #411
v2.3.0. thanks

[2017-08-23 05:44] toyysky commented on #411
The latest edition zero template

[2017-08-23 05:44] ismcagdas commented on #411
I mean, did you download the solution here https://aspnetboilerplate.com/Templates ?
If so, what did you selected while downloading the template ?
* ASP.NET Core or ASP.NET MVC 5x ?
* Angular or Multi Page Application ?

[2017-08-23 05:45] toyysky commented on #411
ASP.NET Core or ASP.NET MVC 5x ?

[2017-08-23 05:45] toyysky commented on #411
ASP.NET MVC 5x

[2017-08-23 05:45] ismcagdas commented on #411
Thanks, we will check this issue.

[2017-08-23 07:12] tom177y commented on #412
It certain helps when both are combined into a single repository.

Are you able to share why they were separated in the first place?  Recalling my initial experience with Abp. I always have to second guess where the particular method may reside. ;o)

thanks.

[2017-08-23 12:12] hikalkan commented on #412
"Wrong decision" or "changing requirements" or whatever you want to say :)

[2017-08-23 12:12] #412 closed

[2017-08-24 06:37] hikalkan commented on #288
I tested Resolve duration for UserManager, RoleManager and a simple class without a dependency. Loop count is **10,000**. Results:

[code]

So, resolving an instance of UserManager takes 1.8 milliseconds, RoleManager takes 0.37 milliseconds and a most simple empty class takes 0.0047 milliseconds.

In the other words, We can create 555 UserManager in 1 second.

[2017-08-29 15:18] KennyEng12 opened #413 "Using DI to inject ASP.NET Identity using Castle Windsor (StartUp.cs)"
What I wanted to do is prevent multiple login.
And I followed this article: [Prevent Multiple Login](http://tech.trailmax.info/2015/09/prevent-multiple-logins-in-asp-net-identity/)

After that I followed this article: [Changing PK data type](http://tech.trailmax.info/2014/08/cookieauthenticationprovider-and-user-session-invalidation-on-change-of-securitystamp/) to change the data type of primary k

[2017-08-29 15:38] hikalkan commented on #413
You can not inject it into Startup class because Identity is not registered to DI in the time Startup class being created. This is a fundamental principle of AspNet Core's DI/startup system.

But you can resolve it inside Configure method like:

[code]

[2017-08-29 15:43] KennyEng12 commented on #413
Thanks for the quick response.
But I'm using MVC5AJ1, the code you provided is able to use in MVC5AJ1?

[2017-08-29 15:49] hikalkan commented on #413
Then ``IocManager.Instance.Resolve<UserManager>()``

[2017-08-30 01:58] KennyEng12 commented on #413
Thanks that is working for me, but now there is another problem.
Which is the user can't login at all even there is not logged in user. It forced me logged out straight away.

Here are my codes:
[code]

After doing some debugs and I found out that, this is because ABP framework created the identity claims at starting of the program and it's not getting override even calling CreateIdentityAsync met

[2017-08-30 06:17] KennyEng12 commented on #413
I've found out the reason that cause the claims not updating.
The reason is I update the security stamp after the log in method. That's why the claim is not updating.

This is mentioned in this article: [Prevent Multiple Login](http://tech.trailmax.info/2015/09/prevent-multiple-logins-in-asp-net-identity/)
[code]
But thanks by the way, I can't settle this until you provided me this:
`IocManager.In

[2017-08-30 06:17] #413 closed

[2017-08-31 13:23] rajalla opened #414 "Making XSRF-TOKEN http only"
Hello,

Is there a way of making XSRF-TOKEN http only ?  I am trying avoid using non http only cookies in our application.

Thanks,
Raj.

[2017-09-06 10:01] toyysky commented on #411
thank you!

[2017-09-08 14:55] hikalkan commented on #414
XSRF-TOKEN can not be made http only because it's there to be known by clients. Client gets it's value and send as header.

[2017-09-08 14:55] #414 closed

[2017-09-09 08:03] majumajid commented on #110
Now (EF 6.1 onwards )you can easily have unique constrains ,

[Index("TitleIndex", IsUnique = true)]
 public string Title { get; set; }

[2017-09-09 16:50] wenzel900 commented on #407
Hi !
I'm using Mysql with the Pomelo.EntityFrameworkCore.MySql provider. It's all working fine

[2017-09-17 20:55] ismcagdas commented on #407
@nikons5456 have you solved your problem ?

[2017-09-18 07:07] squidwardthetentacles commented on #238
the link is down or moved

[2017-09-18 13:24] acjh commented on #238
Moved to `Abp.Zero.Common` [in aspnetboilerplate repo](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/bc266e3503fcb2825684ec829cc356815f94f397/src/Abp.Zero.Common/MultiTenancy/TenantCacheManagerExtensions.cs#L14).

[2017-09-20 07:53] toyysky commented on #411
When will it be released V2.4 ? thank you!

[2017-09-20 08:10] acjh commented on #411
@toyysky `v3.0.0` of [ABP (+ module-zero)](https://github.com/aspnetboilerplate/aspnetboilerplate/releases) and [module-zero-template](https://github.com/aspnetboilerplate/module-zero-template/releases) were released 12 days ago.

[2017-09-20 09:35] toyysky commented on #411
@ismcagdas

When I was in the controller layer to invoke the service method, the interceptor will first call the Valid method, then an AbpValidationException is thrown, view will jump to the Error.cshtml page, but will find the dead cycle main card UI “Please wait... ", that is caused by the css/style.css file, you can delete this file normal, why? Thank you

Is this settled yet? Which version is

[2017-09-21 06:49] ismcagdas commented on #411
@toyysky we haven't take a look at your problem. I have moved your issue to https://github.com/aspnetboilerplate/module-zero-template/issues/101. We will check it for the next release.

[2017-09-21 06:49] #411 closed

[2017-09-27 02:27] WoJoinGitHub opened #415 "The internal table name of the module is too long to exceed the length specified by oracle"
The internal table name of the module is too long to exceed the length specified by oracle

[2017-09-27 03:02] acjh commented on #415
Which table is this?

[2017-09-27 05:03] hikalkan commented on #415
You can always change table names by overriding OnModelCreating of your dbcontext.

[2017-09-27 05:24] WoJoinGitHub commented on #415
PM> update-database
Specify the '-Verbose' flag to view the SQL statements being applied to the target database.
Applying explicit migrations: [201709270512432_db].
Applying explicit migration: 201709270512432_db.
Oracle.ManagedDataAccess.Client.OracleException (0x80004005): ORA-00972: 标识符过长
ORA-00972: 标识符过长
 OK ！ Let Me Try .Some tables have been successfully created,But I don't know why other pe

[2017-09-27 05:32] ismcagdas commented on #415
@WoJoinGitHub your problem might be similar to https://forum.aspnetboilerplate.com/viewtopic.php?f=5&t=5389&p=13486. Can you check that ?

[2017-09-27 06:14] WoJoinGitHub commented on #415
OK thanks everyone！

[2017-09-28 06:08] #415 closed

[2017-09-28 11:31] laozhuorun opened #416 "Can not get localization source with project 'Abp.ZeroCore' when currentCulture is 'zh-CN'"
I Can't get  localization source with project 'Abp.ZeroCore' when currentCulture is 'zh-CN'

the localization source result i get on 'zh-CN' culture is:

"AbpZero": {
"CanNotDeleteAdminUser": "不能删除默认管理员{0}!",
"CanNotDeleteStaticRole": "不能删除系统预定义角色: {0}",
"CanNotRenameAdminUser": "不能重命名默认管理员的用户名 {0}",
"InvalidTenancyName": "租户名无效!",
"RoleDisplayNameIsAlreadyTaken": "角色显示名称 {0}已被占用.",
"RoleNameIsAlr

[2017-09-28 11:48] #416 closed

[2017-09-28 12:32] acjh commented on #416
@laozhuorun Do you want to help with the 12 missing translations?

[code]

[2017-10-19 10:43] kibria06cse commented on #162
How can I prevent admin/or other users to impersonate a user, if that user is currently logged in? Or what can I do, if any user is impersonating another user and then that user is logged in the system, then all impersonated users will be logged out. How can I do it via asp.net boilerplate with MVC?

[2017-10-19 10:45] kibria06cse opened #419 "Prevent impersonation if that user is currently logged in?"
How can I prevent admin/or other users to impersonate a user, if that user is currently logged in? Or what can I do, if any user is impersonating another user and then that user is logged in the system, then all impersonated users will be logged out. How can I do it via asp.net boilerplate with MVC?

[2017-10-19 12:39] xgd224743 opened #420 "asp.net core identityserver4 login error"
hi,
Reference Identity Server Integration document，
but login throw Exception:

[code]

change login code:

        [HttpPost]
        [UnitOfWork]
        public virtual async Task<JsonResult> Login(LoginViewModel loginModel, string returnUrl = "", string returnUrlHash = "")
        {
            returnUrl = NormalizeReturnUrl(returnUrl);
            if (!string.IsNullOrWhiteSpace(returnUrlHash))

[2017-10-19 14:41] hikalkan commented on #162
It's an interesting request. However it should be possible. This is not much related to AspNet Boilerplate actually.

For example, you can use a cache/database value that indicates the last activity time of the user and check it if it's in last 5 minutes then you don't allow to login by impersonation. Anyway, that's an independent design issue.

[2017-10-25 06:53] hikalkan commented on #419
Hi,

This is a development question and you can do it in different ways. And this problem can be generalized and it's not much related to ABP. I suggest you to ask it in Stackowerflow.

[2017-10-30 06:01] ismcagdas commented on #420
Could it be related to https://github.com/IdentityServer/IdentityServer4/issues/1545 ?

[2017-11-22 00:32] Worthy7 opened #421 "AbpFeatureValueStore not registered"
I am still using 2.3.0. I recently implemented proper permission and role management (using AbpZero). But for some reason, AbpFeatureValueStore was not registered, because when getting a feature value, it always returned the default value for that feature, instead of the one written into the database. I tested this, and it seems the AbpFeatureValueStore was not registered to Dependency Injection.

[2017-11-22 03:36] acjh commented on #421
Note to maintainers: This is [based on the assumption](https://stackoverflow.com/questions/47383477/why-do-i-need-to-manually-register-abpfeaturevaluestore) that **Helper Interfaces** do what [the docs](https://aspnetboilerplate.com/Pages/Documents/Dependency-Injection#DocHelperInterfaces) implies.

I [can't find](https://github.com/aspnetboilerplate/aspnetboilerplate/search?q=BasedOn) this non-co

[2017-11-22 05:01] Worthy7 opened #422 "Host use of Features"
For building administrator pages, we may want to build pages which are basically the same as pages used by tenants, but just with a few extra "management" buttons on things.
So it somewhat makes sense that the Host users, may want to have certain "features" in use by the tenants.
For example, a user manager. In the Tenant version, users are entirely restricted at the DataFilter level to only be ab

[2017-11-22 06:15] hikalkan commented on #421
Here is where we register IFeatureValueStore: https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.ZeroCore/IdentityFramework/AbpZeroServiceCollectionExtensions.cs#L81

When you call AddAbpIdentity, it's automatically registered. Startup template calls AddAbp here: https://github.com/aspnetboilerplate/module-zero-core-template/blob/master/aspnet-core/src/AbpCompanyName.AbpProjec

[2017-11-24 07:16] hikalkan commented on #422
A better way would be to ignore feature check if this is a host user.

[2017-11-27 04:12] Worthy7 commented on #422
Hmm, I don't think that a host necessarily wants ALL the features of a system. As I said, what if there are multiple types of users on the host side?
What you are saying is basically that all hosts are always complete super-admins. Which I disagree with.

[2017-11-27 04:14] Worthy7 commented on #421
Where should I call this from then?

[2017-11-27 04:28] acjh commented on #422
Feature is enabled per-tenant (or in this case, host). For multiple types of users, use role permission.

[2017-11-27 04:52] Worthy7 commented on #422
Ok I think that could work.

[2017-12-20 00:01] softcial commented on #226
I know that this issue is closed but I'm having the same issue with the CreateOrMigrateForTenant.  I created the TenantContext based on AbpZeroTenantDbContext but now I don't know how to call if from the AbpZeroDbMigrator instance.  Unfortunately the link provided ismcagdas is broken and I haven't found a sample on how to do this.  Is there any available?

[2017-12-20 00:04] softcial opened #423 "CreateOrMigrateForTenant not working"
I'm having exactly the same issue as the one described in this other issue:
https://github.com/aspnetboilerplate/module-zero-forsaken/issues/226

I know that that issue is closed but unfortunately the link provided by @ismcagdas is broken and can't find a sample on how to link the AbpZeroDbMigrator with the TenantContext.  Is there any available?

[2017-12-20 01:48] acjh commented on #226
Updated link:
[https://forum.aspnetboilerplate.com/**viewtopic.php**?f=5&t=2756&p=6402&hilit=DbMigrator#p6402](https://forum.aspnetboilerplate.com/viewtopic.php?f=5&t=2756&p=6402&hilit=DbMigrator#p6402)

[2017-12-20 17:15] softcial commented on #226
@acjh Thank you very much for your kind reply and for providing me with the updated link.  In my case thought the problem is that the CreateOrMigrateForTenant method is not working (I mean, it is not creating the database for the tenant even thought we have provided the connection string at the "Create tenant" feature)  We are using MySql on an Ubuntu environment.   Could that be the problem? (I m

[2017-12-21 13:17] hikalkan commented on #423
continue from https://github.com/aspnetboilerplate/module-zero-forsaken/issues/226

[2017-12-21 13:17] #423 closed

[2017-12-22 14:53] ismcagdas commented on #226
@softcial are you using EF Core or EF 6.x ?

[2017-12-25 03:03] hoatv1008 commented on #365
Hi @jamesatgithub , could you please share us your implementation for HttpContextCasPrincipalAccessor ?

Thanks in advance

[2017-12-29 04:36] jamesatgithub commented on #365
@hoatv1008
` public  class HttpContextCasPrincipalAccessor : DefaultPrincipalAccessor
    {
        private readonly ISessionAppService _sessionAppService;

        public HttpContextCasPrincipalAccessor(ISessionAppService sessionAppService)
        {
            _sessionAppService = sessionAppService;
        }
        public override ClaimsPrincipal Principal
        {
            get

[2017-12-29 08:06] hoatv1008 commented on #365
Thanks @jamesatgithub for sharing. I've guessed you implemented some sorts of converting from "Username" to "UserId" in the accessor but seems you put it in CAS customization module.

Actually, I am injecting UserManager into the HttpContextCasPrincipalAccessor (as _userManager). Get user info by calling _userManager.FindByNameAsync(HttpContext.Current.User.Identity.Name) then init Abp claims from

[2018-01-01 06:11] BHARAT703 commented on #43
Hi @hikalkan,

I have added one currency setting in my Boilerplate Application, I can retrieve my setting value in client side,  but I am getting only default value for my setting.

now, I tried to access this link to add some seeder, https://github.com/aspnetboilerplate/module-zero/tree/master/sample but it's not working anymore. can you give any example on adding value for newly created setting?

[2018-01-01 07:13] hikalkan commented on #43
Hi @BHARAT703

How did you add setting value to database? You have 2 options:

1. Use SettingManager.ChangeSetting... methods.
2. Insert database manually. But this requires an application restart since settings are cached.

No direct way, because some settings are not appropriate to set by client. If you really need that, you can easily create an API endpoint to do it.

[2018-01-01 07:17] BHARAT703 commented on #43
@hikalkan thanks for fast response, I got your point.. I am adding data manually and now it's working because I was not removing cached memory..

[2018-01-01 07:18] hikalkan commented on #43
You're welcome. So, I'm closing this.

[2018-01-01 07:18] #43 closed

[2018-02-03 09:36] AHassanabadi commented on #63
[Please take a look at this question](https://stackoverflow.com/questions/48366982/get-session-in-asp-boilerplate-service-layer)

1- How can that custom session can be used in Application Service layer ?

2- Is there a way to use custom authenticate ?

[2018-02-03 10:26] acjh commented on #63
1. If you mean how the custom *claims* can be used, inject `IPrincipalAccessor` and use it like [this](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/a4882aec97b9167e1ac7793dad47f7322ade353e/src/Abp/Runtime/Session/ClaimsAbpSession.cs#L26):

[code]

2. See the documentation on [External Authentication](https://aspnetboilerplate.com/Pages/Documents/Zero/User-Management#external-authent

[2018-02-03 10:51] AHassanabadi commented on #63
I mean, suppose I have a custom session like :
[code]
and register it like
` IocManager.IocContainer.Register(Component.For<IAbpSession, MarcoSession>().ImplementedBy<MarcoSession>());
`
Is it possible to initiate it in Application Layer like
[code]
Or Should I do something like
[code]

[2018-02-03 10:53] hikalkan commented on #63
Have you seen that: https://gist.github.com/hikalkan/67469e05475c2d18cb88

[2018-02-03 12:02] AHassanabadi commented on #63
Yes I have seen that but I think that is complicated,
I have an ASP.Net web form with some generic handler and a login page with ASP.Net submit button by clicking that Btn I am creating a custom session...

in the other side I am using aspnetboilerplate App service just to proxy all abp app service in JavaScript (I don'nt want make ajax but using apbservice.method() directly)

So I want to make a

[2018-02-21 11:29] mustafakakac opened #424 "INHMigration ResolveAll retun empty array"
[code]

IocManager.IocContainer.ResolveAll<INHMigration>();
this code why return empty array? where could i have done wrong?
Please help me?

[2018-02-22 12:55] hikalkan commented on #424
Maybe you haven't registered any service for INHMigration. See the [DI document](https://aspnetboilerplate.com/Pages/Documents/Dependency-Injection).

[2018-03-08 09:18] KaterynaZorina commented on #390
Hi! I faced similar problem with AbpMemoryCache disposing. Do you have any solutions for this problem?

[2018-03-08 10:08] ismcagdas commented on #390
@KaterynaZorina actually we couldn't reproduce this problem. Do you know a way to reproduce it ?

[2018-03-08 11:17] KaterynaZorina commented on #390
@ismcagdas unfortunately I can't tell you how to reproduce this problem. It appears randomly. Here is stack trace:

ERROR 2018-03-08 10:53:08,381 [64   ] bp.Runtime.Caching.Memory.AbpMemoryCache - System.ObjectDisposedException: Cannot access a disposed object.
Object name: 'Microsoft.Extensions.Caching.Memory.MemoryCache'.
   at Microsoft.Extensions.Caching.Memory.MemoryCache.CheckDisposed()
   a

[2018-03-08 11:25] ismcagdas commented on #390
@KaterynaZorina does it happen when you are working on the app UI ? If so, what was the last operation caused this problem ? A few users had a similar problem when deleting a user on the UI.

[2018-03-08 12:06] KaterynaZorina commented on #390
@ismcagdas I didn't delete users. This issue appears randomly after different API calls. But I can't reproduce it. Clearing cache solves this issue for awhile.

[2018-03-09 07:01] ismcagdas commented on #390
Probably this problem will be solved with https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2846. We will release ABP v3.5 in a short time. I'm closing this issue, please reopen if https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2846 doesn't fix the problem.

[2018-03-09 07:01] #390 closed

[2018-04-26 15:46] agask2agask2 commented on #407
I am having this problem right now did this ever get resolved.. what causes this?  it doesnt like the hash in my migrations.

[2018-04-26 19:44] ismcagdas commented on #407
@agask2agask2

* have you followed this document for using MySql https://aspnetboilerplate.com/Pages/Documents/EF-Core-MySql-Integration ?
* are you using Pomelo.EntityFrameworkCore.MySql provider or something else ?

[2018-04-26 20:09] agask2agask2 commented on #407
I'm actualy using EF6 with    these providers,
<provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.EntityFramework" />
    <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />

and the decorator over my context

 [DbConfigurationType(typeof(MySqlEFConfigurati

[2018-04-27 06:02] ismcagdas commented on #407
@agask2agask2 It seems like Pomelo doesn't have a provider for EF 6.x, see https://github.com/PomeloFoundation.

I haven't tried MySql.Data v8.0.11. You can downgrade to MySql.Data v6.9.11.

[2018-05-21 23:03] FilipeCavalcante opened #425 "How to authenticate a single solution in two AbpApis?"
Here's my cenario:
I used to have two differents Abp bases solutions, front end, webapi, entity framework etc. Now i need to merge both frontend solution into a single one, but the webapi will remain separated. The merge part is done, and the login process is now working in one of Abp WebApi, and it's working just fine.

Now, as some requests will remain in a different webapi than the other one it

[2018-05-25 09:33] hikalkan commented on #425
If you want to share auth tokens, consider a tool like identityserver, use a single server as auth authority.

[2018-05-31 14:41] lnacosta91 opened #426 "Organization Unit - Role&Permission based"
Hey there! I'm struggling on how can I achieve next scenario:

**Current Model supports:**
User X has Role "Account Management" and he can create, edit and delete accounts.
User X belongs to OU "Financial Department" and he has access to all the accounts on the department.
User X can create, edit or delete all the accounts on the OU.

**What I need?**
The company decided to make a parallel departm

[2018-06-01 06:47] ismcagdas commented on #426
@lnacosta91 I'm not sure if this is the best solution but, you can create new Permissions, for example [CanEditOtherOUAccounts], [CanDeleteOtherOUAccounts], [CanCreateOtherOUAccounts] (or just a single permission for checking 3 permissions). Then if user has these permissions, you can show related buttons. If user don't have this permissions you can filter the records like `usersOuIds.Contains(rec

[2018-06-01 08:16] lnacosta91 commented on #426
Ok, I understood. But this will not work. If I have to do that in each method I will go crazy and the code will be not understandable.
My solution for now is to have a very good Organization Unit structure and relate it directly with roles and permissions.
The user can change his organization unit globally and all the roles and permissions will be updated.
In that way I just don't have to change t

[2018-06-01 08:21] ismcagdas commented on #426
@lnacosta91 you can change the framework level permission check logic by overriding the IsGrantedAsync method of PermissionChecker as well https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.ZeroCore/Authorization/PermissionChecker.cs#L41.

[2018-06-09 15:50] #406 closed

[2018-06-09 16:00] #422 closed

[2018-07-03 09:10] kadirerdogru opened #427 "LDAP AUTHENTICATION Issue"
Hi,
I'm using version 3.1.1.
I've enabled LDAP in the CoreModule.cs as follows:

1- Downloaded Abp.Zero.Ldap

2- I extened LdapAuthenticationSource as shown below:

[code]

3- Set module dependency as shown below:

[code]

4- Lastly I set 'Abp.Zero.Ldap.IsEnabled' setting as  true.

While working on my own pc I can login with active directory username and password. But when I publish it to the ser

[2018-07-03 10:32] kadirerdogru commented on #427
Application connected DB. Also I login in local iss with Active directory user. But i didnt login in server iss.
Error code as shown below.

`System.DirectoryServices.DirectoryServicesCOMException (0x80072020): An operations error occurred.

   at System.DirectoryServices.DirectoryEntry.Bind(Boolean throwIfFail)
   at System.DirectoryServices.DirectoryEntry.Bind()
   at System.DirectoryServices.Di

[2018-07-03 14:19] ebicoglu commented on #427
It might be related to your IIS application pool.
Change application pool to run under the Network Service.
See https://stackoverflow.com/questions/13688031/system-directoryservices-directoryservicescomexception-an-operations-error-occu

[2018-07-31 05:40] FirnasAM opened #428 "External Login (eg. Facebook) fail to activate"
When trying to login with external user i am getting "There is no such an entity. Entity type: OnePoint.Authorization.Users.User, id: 105" error. By default i activated the user to avoid email verification check. This works for normal user creation. However, the error is only for external user such as Facebook login.

I have also noticed that this issue does not occur in localhost even for externa

[2018-07-31 05:46] maliming commented on #428
**IMPORTANT NOTICE**: This repository is moved to ASP.NET Boilerplate repository and it is **deprecated**
 now. Please refer to ASP.NET Boilerplate repository(https://github.com/aspnetboilerplate/aspnetboilerplate).

[2018-07-31 05:46] #428 closed

[2018-07-31 05:49] alirizaadiyahsi commented on #428
Opened issue in right repo : https://github.com/aspnetboilerplate/aspnetboilerplate/issues/3698

[2018-08-02 07:35] #154 closed

[2018-08-05 06:50] #421 closed

[2018-08-23 11:39] hikalkan commented on #226
@danghuynhdaty this repository is forsaken. Please create a new issue on https://github.com/aspnetboilerplate/aspnetboilerplate and describe your issue in more details.

[2018-08-28 01:04] Worthy7 commented on #52
@hikalkan How do we do the same thing on a later version?

[2018-08-28 05:59] ismcagdas commented on #52
@Worthy7 do you mean ASP.NET Core ?

[2018-08-28 06:14] Worthy7 commented on #52
Yea. I worked it out:
Core.Configuration.AppSettingProvider.cs

`new SettingDefinition(AbpZeroSettingNames.UserManagement.IsEmailConfirmationRequiredForLogin, "true", scopes: SettingScopes.Application | SettingScopes.Tenant | SettingScopes.User, isVisibleToClients: true)`

[2018-09-30 15:39] #426 closed

[2018-09-30 15:40] lnacosta91 commented on #426
End up going through other solution, thanks for the time and the advice.

[2018-12-29 05:58] JianChengSun opened #429 "UserManager Localize"
**Issue** :  The localize doesn't work for the IdentityResults when getting UserName and Email duplicate error
**Assembly** : Abp.Zero, Version=3.9.0.0, Culture=neutral, PublicKeyToken=null
**My findings**  After some troubleshooting, i found that AbpUserManager.LocalizationSourceName is  set to **"AbpZero"** instead of what i defined as **MySiteConsts.LocalizationSourceName = "MySite";**.

**Temp

[2018-12-29 06:19] #429 closed

[2019-01-01 08:07] tnlthanzeel opened #430 "Can't create component 'EmailManager' as it has dependencies to be satisfied"
Can't create component 'Inx.Module.Assocify.Services.Services.Managers.EmailManager' as it has dependencies to be satisfied.

'Inx.Module.Assocify.Services.Services.Managers.EmailManager' is waiting for the following dependencies:
- Service 'System.Collections.Generic.IEnumerable`1[[Inx.Module.Assocify.Providers.IEmailProvider, Inx.Module.Notifications.Core, Version=1.0.0.0, Culture=neutral, Publi

[2019-01-01 08:10] tnlthanzeel commented on #430
[code]

[2019-01-01 08:40] tnlthanzeel commented on #430
@acjh , help please

[2019-01-01 08:44] acjh commented on #430
Show constructor of `EmailManager`.

[2019-01-01 08:45] tnlthanzeel commented on #430
[code]

[2019-01-01 08:47] acjh commented on #430
You can't inject `IEnumerable<IEmailProvider>`.

[2019-01-01 08:47] tnlthanzeel commented on #430
then i remove any work around for that sir?

[2019-01-01 09:20] acjh commented on #430
I see from your other issue that you are already adding `CollectionResolver`. If that does not work, then you can call `iocResolver.ResolveAll<IEmailProvider>()` in the constructor.

[2019-01-01 09:31] #430 closed

[2019-02-01 13:00] mstfymrtc opened #431 "Create tenant without login"
Hi, i have an abp module zero application and i want to be able to create tenants without logging in. I have a React client app also. I will let visitors create tenant. How can i implement this? I've removed [AbpAuthorize(PermissionNames.Pages_Tenants)] part from the TenantAppService & CheckCreatePermission() line from Create method but i get 500 interval error. Thanks! @hikalkan

[2019-02-01 13:03] #431 closed

[2019-02-26 11:47] Noushida opened #432 "How can I modify the Value field size(default is 2000) in AbpSettings table."
migrationBuilder.AlterColumn<string>(
                  name: "Value",
                  table: "AbpSettings",
                  maxLength: 4000,
                  nullable: true,
                  oldClrType: typeof(string),
                  oldMaxLength: 2000,
                  oldNullable: true);

is it possible this way?

[2019-02-26 11:49] maliming commented on #432
You can configure it under the `OnModelCreating` method.

https://docs.microsoft.com/en-us/ef/core/modeling/max-length#fluent-api

[2019-02-26 12:35] Noushida commented on #432
Thanks for your response. Actually AbpSettings table is asp.net boiler
plate's entity. So I am getting a reference error in  OnModelCreating .

Thanks & Regards,
*Noushida K T*
Senior Software Engineer - Microsoft Technologies

[image: cid:ii_144d3e1003a21d10]
Ph: +91 484 4055006
USA | UAE | INDIA
www.fingent.com

On Tue, Feb 26, 2019 at 5:19 PM maliming <notifications@github.com> wrote:

[2019-02-27 12:31] ismcagdas commented on #432
@Noushida could you share your code for OnModelCreating ? Setting entity is defined in Abp.Configuration namespace.

[2019-03-04 10:52] hidayetsoltanzade opened #433 "User role names"
How get user role names in UserAppService GetAll method? UserRole don't have Role navigation property.

[2019-03-04 13:03] acjh commented on #433
Write a join query.

This repository is deprecated: https://github.com/aspnetboilerplate/module-zero-forsaken

[2019-03-04 15:53] #433 closed

[2019-04-09 11:40] PtwHub commented on #409
Foreign keys should be visible as such in the database. That is why they exist as types in the database: it is very important to be able to identify these crucial relationships. If they are not defined properly, then it impedes/prohibits diverse levels of database hygiene, management, migration, maintenance. If the foreign key is configured in EF, then it is in the database.

Correcting this would

[2019-04-10 08:16] hikalkan commented on #409
@PtwHub I know FKs are important in the database side. You can configure your FKs by overriding OnModelCreating method of your DbContext or inside your db migrations.

[2019-04-10 08:25] PtwHub commented on #409
Thanks. We are currently working on this approach... No conclusive results yet.

[2019-06-10 11:28] #265 closed

[2019-06-10 11:28] #270 closed

[2019-06-10 11:28] #284 closed

[2019-06-10 11:28] #288 closed

[2019-06-10 11:28] #292 closed

[2019-06-10 11:28] #299 closed

[2019-06-10 11:28] #328 closed

[2019-06-10 11:28] #334 closed

[2019-06-10 11:28] #339 closed

[2019-06-10 11:28] #349 closed

[2019-06-10 11:28] #370 closed

[2019-06-10 11:28] #387 closed

[2019-06-10 11:28] #388 closed

[2019-06-10 11:28] #391 closed

[2019-06-10 11:28] #401 closed

[2019-06-10 11:28] #404 closed

[2019-06-10 11:28] #407 closed

[2019-06-10 11:28] #409 closed

[2019-06-10 11:28] #410 closed

[2019-06-10 11:28] #419 closed

[2019-06-10 11:28] #420 closed

[2019-06-10 11:28] #424 closed

[2019-06-10 11:28] #425 closed

[2019-06-10 11:28] #427 closed

[2019-06-10 11:28] #432 closed

[2019-06-10 11:28] #19 closed

[2019-06-10 11:28] #56 closed

[2019-06-10 11:28] #80 closed

[2019-06-10 11:28] #129 closed

[2019-06-10 11:28] #143 closed

[2019-06-10 11:28] #144 closed

[2019-06-10 11:28] #159 closed

[2019-06-10 11:28] #160 closed

[2019-06-10 11:28] #172 closed

[2019-06-10 11:28] #187 closed

[2019-06-10 11:28] #206 closed

[2019-06-10 11:28] #209 closed

[2019-06-10 11:28] #213 closed

[2019-06-10 11:28] #236 closed

[2019-06-10 11:28] #258 closed

[2019-06-10 11:28] #259 closed